*{
    margin: 0;
    padding: 0;
}
    html,body{
        height: 100%;
    }
    #worktime{
        display: none;
    }
        #worktime{
            position: fixed;
            background: #000000;
            top: 100%;
            left: 100%;
            width: 200px;
            height: 200px;
            margin: -60px 0 0 -200px;
            color: #ffffff;
            font-size: 12px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;
            font-family: "Roboto Condensed", sans-serif;
            z-index: 150;
            overflow: hidden;
        }
        #all{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 1270px;
            min-height: 100%;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 16px;
            overflow: hidden;
        }
    .bg_all{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity .2s ease;
        -moz-transition: opacity .2s ease;
        -o-transition: opacity .2s ease;
        transition: opacity .2s ease;
        opacity: 0;
        z-index: 20;
        overflow: hidden;
    }
    #bg_load{
        position: fixed;
        background: #1b93db;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        z-index: 200;
        overflow: hidden;
    }
        #load_percent{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            font-family: "Roboto Condensed", sans-serif;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin: -16px 0 0 -100px;
            overflow: hidden;
        }