.dialog_block{
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 80px);
    background: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #1b93db;
    border-radius: 3px;
    font-size: 14px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #222222;
    z-index: 21;
    overflow: hidden;
}
.dialog{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_close_button{
    position: absolute;
    /*position: fixed;*/
    background: #ffffff;
    top: 0;
    left: 100%;
    width: 20px;
    height: 20px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    border: 1px solid #1b93db;
    border-radius: 3px;
    z-index: 2;
    -webkit-transform: translate(calc(-100% - 10px), 10px);
    -moz-transform: translate(calc(-100% - 10px), 10px);
    -ms-transform: translate(calc(-100% - 10px), 10px);
    -o-transform: translate(calc(-100% - 10px), 10px);
    transform: translate(calc(-100% - 10px), 10px);
    /*margin: 0 0 0 -20px;*/
    overflow: hidden;
}
    .dialog_close_button:before{
        position: relative;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        font-family: 'Material Icons', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        /*display: inline-block;*/
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: #1b93db;
        content: "close";
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }
        .dialog_close_button:hover:before{
            background: #1b93db;
            color: #ffffff;
        }
.dialog_admin_check_active,
.dialog_admin_check{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
    .dialog_admin_check_active .dialog_admin_check_checkbox,
    .dialog_admin_check .dialog_admin_check_checkbox{
        position: relative;
        display: inline-block;
        float: left;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #1b93db;
        border-radius: 3px;
        margin: 0 10px 0 0;
        overflow: hidden;
    }
        .dialog_admin_check .dialog_admin_check_checkbox:before,
        .dialog_admin_check_active .dialog_admin_check_checkbox:before{
            position: relative;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            font-family: 'Material Icons', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 18px;
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            color: #1b93db;
            content: "";
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }
            .dialog_admin_check_active .dialog_admin_check_checkbox:before{
                content: "check";
            }
        .dialog_admin_check_active:hover .dialog_admin_check_checkbox:before{
            opacity: .5;
        }
        .dialog_admin_check:hover .dialog_admin_check_checkbox:before{
            background: #1b93db;
            color: #ffffff;
        }
        .dialog_admin_check:hover{
            color: #1b93db;
        }
.dialog_title{
    position: relative;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #585858;
    overflow: hidden;
}
.dialog_inner{
    position: relative;
    width: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
}
.dialog_content_left_block,
.dialog_content_right_block{
    position: relative;
    top: 0;
    left: 0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_content_left_block{
    width: 144px;
    height: 160px;
    margin: 10px 0 0 20px;
}
.dialog_content_right_block{
    width: 400px;
    margin: 0 0 0 10px;
}
.dialog_row,
.dialog_row_mobile,
.dialog_row_none{
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0 0 0;
    overflow: hidden;
}
    .dialog_row_mobile{
        margin: 30px 0 0 0;
    }
.dialog_row_block{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_line_title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 25px 0 0 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #bbbbbb;
    overflow: hidden;
}
.dialog_row_none{
    margin: 0;
}
.dialog_row_label_block{
    position: relative;
    top: 0;
    left: 0;
    width: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}
.dialog_row_label{
    position: relative;
    width: 120px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}
.dialog_row_label_x2{
    position: relative;
    width: 240px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}
.dialog_col .dialog_row_label,
.dialog_col_full .dialog_row_label{
    width: 200px;
}
.dialog_row_label_x2 span,
.dialog_row_label span{
    position: relative;
    float: right;
    margin: 4px 10px 0 0;
    overflow: hidden;
}
span.dialog_red_field,
.dialog_row_label_x2 span.dialog_red_field,
.dialog_row_label span.dialog_red_field{
    position: relative;
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ff1c00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 3px 0 3px;
    margin-right: 0;
    overflow: hidden;
}
.dialog_row_length,
.dialog_row_length_red,
.dialog_row_length_none{
    position: relative;
    width: 100%;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
    color: #7b7b7b;
    float: left;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1;
    margin: 0 0 3px 0;
    overflow: hidden;
}
.dialog_row_length_red{
    color: #ff0000;
}
.dialog_row_length_none{
    opacity: 0;
}
.dialog_row_input{
    position: relative;
    width: 280px;
    float: left;
    overflow: hidden;
}
.dialog_col_full .dialog_row_input{
    width: 780px;
}
.dialog_row_input .dialog_password_help_label{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
    line-height: 1.1;
    float: right;
    margin: 0;
    overflow: hidden;
}
.dialog_row_select_text,
.dialog_row_select_place_text,
.dialog_row_input_text,
.dialog_row_textarea{
    position: relative;
    display: block;
    /*width: 280px;*/
    width: 100%;
    padding: 3px 10px 3px 10px;
    outline: none;
    font-size: 14px;
    color: #222222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #1b93db;
    border-radius: 2px;
    resize: none;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}
.dialog_row_textarea{
    height: 200px;
}
#dialog_login_input_text,
#dialog_email_input_text{
    text-transform: lowercase;
}
.dialog_row_select_place_text{
    width: auto;
    margin: 0 10px 0 0;
}
.dialog_row_info,
.dialog_row_info_error{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: rgb(0, 97, 15);
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_row_info_error{
    color: #ff0000;
}
.dialog_col{
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}
.dialog_col_full{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}
#dialog_user_block{
    color: #ff1c00;
}
.dialog_user_item{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dialog_face_image_choose,
.dialog_face_image_choose_disable,
.dialog_face_video_choose,
.dialog_face_video_choose_disable
{
    position: relative;
    background: #f3f3f3;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #1b93db;
    border: 1px solid #1b93db;
    overflow: hidden;
}
.dialog_face_image_choose:hover,
.dialog_face_video_choose:hover
{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #373636;
}
.dialog_face_image_choose_disable,
.dialog_face_video_choose_disable{
    background: #6c6c6c;
    border-color: #6c6c6c;
    color: #ffffff;
    opacity: 0.6;
    cursor: default;
}
#dialog_face_image_block{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    overflow: hidden;
}
#dialog_face_video_item,
#dialog_face_image_item{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
    #dialog_face_video_item video{
        position: relative;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }
#dialog_face_coords_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_face_image_item,
.dialog_face_image_item_active,
.dialog_face_image_item_isset{
    position: absolute;
    background: #363636;
    top: 0;
    left: 0;
    opacity: .5;
    border: 3px solid #000000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
.dialog_face_image_item:hover,
.dialog_face_image_item_active:hover{
    opacity: .8;
}
.dialog_face_image_item_active{
    border-color: #137600;
    background: #0bff00;
}
.dialog_face_image_item_isset{
    background: #6c6c6c;
    border: 3px dashed #6c6c6c;
    cursor: default;
}
.dialog_face_image_label_green,
.dialog_face_image_label_red,
.dialog_face_image_label{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0 0 0;
    overflow: hidden;
}
.dialog_face_image_label_green{
    color: #137600;
}
.dialog_face_image_label_red{
    color: #ff0000;
}
#dialog_face_image_progress_block{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0 0 0;
    overflow: hidden;
}
#dialog_face_image_progress_line{
    position: relative;
    background: #ff0000;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_controls{
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    overflow: hidden;
}
.dialog_submit_ok,
.dialog_submit_create,
.dialog_submit_add,
.dialog_submit_block,
.dialog_submit_unblock,
.dialog_submit_remove,
.dialog_submit_update,
.dialog_submit_save,
.dialog_submit_cancel,
.dialog_submit_close,
.dialog_submit_reg,
.dialog_submit_disable{
    position: absolute;
    background: #f3f3f3;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    text-align: center;
    padding: 5px 0 5px 0;
    border-radius: 3px;
    color: #1b93db;
    border: 1px solid #373636;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.dialog_submit_disable{
    border-color: #a9a9a9;
    color: #a9a9a9;
    cursor: default;
}
.dialog_submit_ok{
    border: 1px solid #1b93db;
}
.dialog_submit_create{
    border: 1px solid #1b93db;
}
.dialog_submit_add{
    border: 1px solid #1b93db;
}
.dialog_submit_block{
    border: 1px solid #1b93db;
}
.dialog_submit_unblock{
    border: 1px solid #1b93db;
}
.dialog_submit_remove{
    border: 1px solid #1b93db;
}
.dialog_submit_update{
    border: 1px solid #1b93db;
}
.dialog_submit_save{
    border: 1px solid #1b93db;
}
.dialog_submit_cancel{
    border: 1px solid #1b93db;
}
.dialog_submit_reg{
    border: 1px solid #1b93db;
}
.dialog_submit_close{
    border: 1px solid #1b93db;
}
.dialog_submit_ok:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_reg:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_remove:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_update:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_create:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_add:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_block:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_unblock:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_save:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_cancel:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
.dialog_submit_close:hover{
    border: 1px solid #1b93db;
    background: #1b93db;
    color: #ffffff;
}
#dialog_file_list{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dialog_file_item{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.dialog_file_item_image_artist,
.dialog_file_item_image{
    position: relative;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
    overflow: hidden;
}
.dialog_file_item_image_artist{
    width: 144px;
    height: 144px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #1b93db;
}
.dialog_file_item_progress{
    position: relative;
    width: 100%;
    height: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
    overflow: hidden;
}
.dialog_file_item_progress_line{
    position: relative;
    background: #1b93db;
    width: 0;
    height: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.dialog_file_item_progress_percent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #222222;
    font-size: 14px;
    padding: 13px 0 13px 0;
    z-index: 1;
    overflow: hidden;
}
.dialog_file_item_progress_artist{
    position: relative;
    width: 100%;
    height: 2px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 1;
    overflow: hidden;
}
.dialog_file_item_progress_line_artist{
    position: relative;
    background: #ff0000;
    width: 0;
    height: 2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.dialog_file_item_progress_percent_artist{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #222222;
    font-size: 14px;
    padding: 13px 0 13px 0;
    z-index: 1;
    overflow: hidden;
}
.dialog_file_item_controls{
    position: absolute;
    width: 120px;
    height: 27px;
    top: 0;
    left: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    transform: translate(0,6px);
    opacity: 0;
    z-index: 5;
    overflow: hidden;
}
.dialog_file_item:hover .dialog_file_item_controls{
    transform: translate(-126px,6px);
    opacity: 1;
}
.dialog_file_item_edit,
.dialog_file_item_remove,
.dialog_file_item_up,
.dialog_file_item_down,
.dialog_file_item_up_disable,
.dialog_file_item_down_disable{
    position: relative;
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 7px;
    border: 1px solid #1b93db;
    border-radius: 3px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.dialog_file_item_edit:before,
.dialog_file_item_remove:before,
.dialog_file_item_up:before,
.dialog_file_item_down:before,
.dialog_file_item_up_disable:before,
.dialog_file_item_down_disable:before{
    position: relative;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #1b93db;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    overflow: hidden;
}
.dialog_file_item_edit:before{
    /*background: url(/Project/Whore/Admin/Template/Images/System/edit.png) 0 0 no-repeat, #373636;*/
    content: 'edit';
}
.dialog_file_item_remove:before{
    /*background: url(/Project/Whore/Admin/Template/Images/System/user_remove.png) 0 0 no-repeat, #373636;*/
    content: 'clear';
}
.dialog_file_item_up:before,
.dialog_file_item_up_disable:before{
    /*background: url(/Project/Whore/Admin/Template/Images/System/up.png) 0 0 no-repeat, #373636;*/
    content: 'expand_less';
}
.dialog_file_item_down:before,
.dialog_file_item_down_disable:before{
    content: 'expand_more';
    /*background: url(/Project/Whore/Admin/Template/Images/System/down.png) 0 0 no-repeat, #373636;*/
}
.dialog_file_item_edit:hover::before,
.dialog_file_item_remove:hover::before,
.dialog_file_item_up:hover::before,
.dialog_file_item_down:hover::before,
.dialog_file_item_up_disable:hover::before,
.dialog_file_item_down_disable:hover::before{
    color: #ffffff;
    background: #1b93db;
}
.dialog_file_item_up_disable,
.dialog_file_item_down_disable{
    position: relative;
    top: 0;
    left: 0;
    float: left;
    opacity: .5;
    cursor: default;
}