.profile_payment_col{
    position: relative;
    float: none;
}
#header_balance_block{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-width: auto;
    max-width: none;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    #header_balance_label{
        font-size: 0.8em;
        min-width: auto;
        max-width: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

#root_face_block{
    /*top: 65px;*/
    top: 50%;
    max-height: calc(100vh - 70px);
    /*-webkit-transform: translate(-50%, calc(-50%));*/
    /*-moz-transform: translate(-50%, calc(-50%));*/
    /*-ms-transform: translate(-50%, calc(-50%));*/
    /*-o-transform: translate(-50%, calc(-50%));*/
    /*transform: translate(-50%, calc(-50%));*/
    overflow-y: auto;
}
#root_search_face_content_loading{
    position: fixed;
}
#root_search_face_price{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
#root_face_result_block{
    top: 50%;
    left: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 70px);
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    -webkit-transform: translate(-50%, calc(-50% + 30px));
    -moz-transform: translate(-50%, calc(-50% + 30px));
    -ms-transform: translate(-50%, calc(-50% + 30px));
    -o-transform: translate(-50%, calc(-50% + 30px));
    transform: translate(-50%, calc(-50% + 30px));
}
    #root_search_face_button_label{
        padding-top: 5px;
    }
    #root_face_result_close_button{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        /*display: none;*/
    }
        #root_face_result_first_row_block{
            width: 100%;
            min-height: calc(100vh / 3);
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
            #root_face_result_first_block{
                width: calc(50% - 10px);
                height: calc(100vh / 3);
            }
            #root_face_result_second_block{
                width: 20px;
            }
            #root_face_result_third_nun{
                background-size: cover;
                width: calc(50% - 10px);
                border-radius: 5px;
                height: calc(100vh / 3 - 10px);
                -webkit-transform: translate(-100%, 30px);
                -moz-transform: translate(-100%, 30px);
                -ms-transform: translate(-100%, 30px);
                -o-transform: translate(-100%, 30px);
                transform: translate(-100%, 30px);
                margin: 0 0 0 0;
            }
                #root_face_result_third_nun_text{
                    margin: 0 0 0 0;
                    width: 100%;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    text-align: center;
                    padding: 10px 10px 10px 10px;
                }
                    #root_face_result_third_nun_text .span_red,
                    #root_face_result_third_nun_text .span_blue{
                        font-size: 0.6em;
                    }
            .root_face_result_profile_info_label{
                width: 100px;
            }
            #root_face_result_profile_info_block{
                margin: 10px 0 0 0;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
            #root_face_result_profile_image_list_block{
                padding-bottom: 10px;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
            #root_face_result_third_block{
                width: calc(50% - 10px);
                height: auto;
                min-height: auto;
            }
                #root_face_result_profile_block{
                    width: 100%;
                    height: auto;
                    min-height: auto;
                }
                    #root_face_result_profile_total_img_block{
                        width: 100%;
                    }
                        .root_face_result_profile_total_img_container{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: calc(100vh - 290px);
                            text-align: center;
                            line-height: calc(100vh - 290px);
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            .root_face_result_profile_total_img_src_border_red,
                            .root_face_result_profile_total_img_src_border_orange,
                            .root_face_result_profile_total_img_src_border_yellow{
                                position: relative;
                                top: 50%;
                                left: 50%;
                                line-height: 0.5;
                                padding: 0 0 0 0;
                                border-radius: 5px;
                                vertical-align: middle;
                                border: 3px solid #1b93db;
                                -webkit-transform: translate(-50%, -50%);
                                -moz-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                -o-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                -webkit-transition: all .2s ease;
                                -moz-transition: all .2s ease;
                                -ms-transition: all .2s ease;
                                -o-transition: all .2s ease;
                                transition: all .2s ease;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                                .root_face_result_profile_total_img_src_border_red{
                                    border-color: #7a0000;
                                }
                                .root_face_result_profile_total_img_src_border_orange{
                                    border-color: #ff8100;
                                }
                                .root_face_result_profile_total_img_src_border_yellow{
                                    border-color: #ffed00;
                                }
                        #root_face_result_profile_total_img_source_type{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            text-align: center;
                            display: inline-block;
                            font-family: "Roboto", sans-serif;
                            font-size: 12px;
                            border-radius: 0;
                            -webkit-transform: translate(0, calc(-100% + 2px));
                            -moz-transform: translate(0, calc(-100% + 2px));
                            -ms-transform: translate(0, calc(-100% + 2px));
                            -o-transform: translate(0, calc(-100% + 2px));
                            transform: translate(0, calc(-100% + 2px));
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            color: #ffffff;
                            padding: 8px 15px 8px 15px;
                            z-index: 3;
                            overflow: hidden;
                        }
                #root_face_result_profile_image_list_block{
                    width: 100%;
                    height: auto;
                    margin: 0 0 0 0;
                }
                    #root_face_result_profile_image_scroll_up,
                    #root_face_result_profile_image_scroll_down{
                        display: none;
                    }
                    #root_face_result_profile_image_list{
                        width: 100%;
                        margin: 10px 0 0 0;
                        padding: 0 0 0 0;
                        height: auto;
                    }
                        .root_face_result_profile_image_item_active,
                        .root_face_result_profile_image_item{
                            width: calc((100vw) / 3 - 3 * 7px);
                            height: calc((100vw) / 3 - 3 * 7px);
                            margin: 5px 5px 5px 5px;
                        }
                            .root_face_result_profile_image_item_active{
                                 -webkit-box-shadow: 0 0 4px 2px #137600;
                                -moz-box-shadow: 0 0 4px 2px #137600;
                                box-shadow: 0 0 4px 2px #137600;
                                -webkit-transform: none;
                                -moz-transform: none;
                                -ms-transform: none;
                                -o-transform: none;
                                transform: none;
                            }
                .root_face_result_title{
                    font-size: 0.7em;
                }
                .root_face_result_other_item_active,
                .root_face_result_other_item{
                    min-height: 50px;
                    margin-bottom: 10px;
                    padding: 5px 0 5px 0;
                    height: auto;
                }
                    #root_face_result_other_row_block{
                        margin: 0 0 0 0;
                    }
                .root_face_result_other_item_container{
                    width: 100%;
                    min-height: 50px;
                    height: auto;
                }
                    .root_face_result_other_item_img_block{
                        width: 50px;
                        height: 50px;
                    }
                        .root_face_result_profile_total_img_container,
                        .root_face_result_source_src{
                            height: calc(100vh / 3);
                            line-height: calc(100vh / 3);
                            margin: 0 0 0 0;
                        }
                            #root_face_result_source_src_image{
                                margin: 0 0 0 0;
                            }
                        .root_face_result_profile_total_img_src{
                            margin: 0 0 0 0;
                        }
                        .root_face_result_other_item_img_percent{
                            position: absolute;
                            display: none;
                            top: 0;
                            left: 0;
                            height: 16px;
                            font-size: 0.7em;
                            margin: 0 0 0 0;
                            -webkit-transform: translate(5px, 5px);
                            -moz-transform: translate(5px, 5px);
                            -ms-transform: translate(5px, 5px);
                            -o-transform: translate(5px, 5px);
                            transform: translate(5px, 5px);
                        }
                        .root_face_result_other_item_img_len{
                            position: absolute;
                            display: none;
                            top: 100%;
                            left: 100%;
                            height: 16px;
                            font-size: 0.7em;
                            margin: 0 0 0 0;
                            -webkit-transform: translate(calc(-100% - 5px), calc(-100% - 5px));
                            -moz-transform: translate(calc(-100% - 5px), calc(-100% - 5px));
                            -ms-transform: translate(calc(-100% - 5px), calc(-100% - 5px));
                            -o-transform: translate(calc(-100% - 5px), calc(-100% - 5px));
                            transform: translate(calc(-100% - 5px), calc(-100% - 5px));
                        }
                        #root_face_result_second_block{
                            margin-top: 25px;
                            height: calc(100vh /3);
                        }
                            #root_face_result_second_block:before{
                                width: 20px;
                                height: 20px;
                                font-size: 1.2em;
                            }
                    .root_face_result_other_item_profile_info_block{
                        width: calc(100% - 55px);
                        margin: 0 0 0 5px;
                    }
                        .root_face_result_other_item_profile_info_block td{
                            min-height: 75px;
                        }
                            .root_face_result_profile_info_row{
                                margin: 0 0 3px 0;
                            }
                                .root_face_result_profile_info_other_label{
                                    width: 100px;
                                    padding: 0 5px 0 0;
                                }
                                .root_face_result_profile_info_data{
                                    width: calc(100% - 105px);
                                }
                            .root_face_result_other_item_profile_controls_block{
                                display: none;
                            }

    #root_default_content{
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        /*height: 435px;*/
        /*height: calc(2 * (100vw - 35px - 40px + 190px) / 2);*/
    }
    .profile_payment_col{
        width: calc(100vw - 35px);
        padding: 10px 0 0 0;
        height: auto;
        /*min-height: 355px;*/
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
        #profile_payment_step_1{
            padding: 0 0 0 0;
        }
        #profile_payment_step_3{
            min-height: 330px;
        }
            #profile_payment_controls{
                position: relative;
                top: 0;
                left: 0;
                -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                transform: translate(0, 0);
                margin: 30px 0 0 0;
            }
        .profile_payment_wallet_item,
        .profile_payment_wallet_item_disable,
        .profile_payment_wallet_item_active{
            width: calc((100vw - 35px - 80px) / 2);
            height: calc((100vw - 35px - 120px) / 2);
            margin: 0 20px 0 20px;
        }

            #profile_payment_wallet_btc,
            #profile_payment_wallet_btc.profile_payment_wallet_item_active,
            #profile_payment_wallet_eth,
            #profile_payment_wallet_eth.profile_payment_wallet_item_active,
            #profile_payment_wallet_webmoney,
            #profile_payment_wallet_webmoney.profile_payment_wallet_item_active,
            #profile_payment_wallet_sberbank,
            #profile_payment_wallet_sberbank.profile_payment_wallet_item_active,
            #profile_payment_wallet_qiwi,
            #profile_payment_wallet_qiwi.profile_payment_wallet_item_active,
            #profile_payment_wallet_cc,
            #profile_payment_wallet_cc.profile_payment_wallet_item_active,
            #profile_payment_wallet_paypal,
            #profile_payment_wallet_paypal.profile_payment_wallet_item_active{
                background-size: auto 80%;
            }
                .profile_payment_message{
                    margin: 0 0 0 0;
                }
        .profile_payment_sum_item,
        .profile_payment_sum_item_active{
            width: calc((100vw - 35px - 40px) / 2);
            height: 115px;
        }
            .profile_payment_wallet_item_active{

            }
            .profile_payment_sum_item:hover{
                background: #b4b4b4;
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                transform: none;
            }

#settings{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border: 1px solid #1b93db;
    -webkit-box-shadow: 0px 2px 15px #000000;
    -moz-box-shadow: 0px 2px 15px #000000;
    box-shadow: 0px 2px 15px #000000;
    top: 50%;
    left: 50%;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    -webkit-transform: translate(-50%, calc(-50%));
    -moz-transform: translate(-50%, calc(-50%));
    -ms-transform: translate(-50%, calc(-50%));
    -o-transform: translate(-50%, calc(-50%));
    transform: translate(-50%, calc(-50%));
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #settings_content{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }
        #settings_content_container{
            width: 100%;
            background: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-radius: 0;
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            #settings_image_block{
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
            #settings_list{
                margin: 0 0 0 0;
            }
        .settings_row_child{
            height: auto;
        }

    .search_history_item_date_row{
        position: relative;
        background: #c4c4c4;
        color: #222222;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 0.8em;
        text-align: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        margin: 0 0 10px 0;
        overflow: hidden;
    }
        .search_history_item_mobile_row{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0 0 5px 0;
            font-size: 0.8em;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }
            .search_history_item_info{
                height: 15px;
                font-size: 1em;
                word-wrap: normal;
            }
            .search_history_item_mobile_col{
                position: relative;
                top: 0;
                left: 0;
                width: calc((100vw - 20px - 20px) / 2 - 10px);
                float: left;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
            .search_history_item_mobile_col_arrow{
                position: relative;
                top: 0;
                left: 0;
                width: 20px;
                height: calc((100vw - 20px - 20px - 10px) / 2 - 10px);
                float: left;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                .search_history_item_mobile_col_arrow:before{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    font-family: 'Material Icons', sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 1em;
                    line-height: 1;
                    text-transform: none;
                    letter-spacing: normal;
                    word-wrap: normal;
                    white-space: nowrap;
                    direction: ltr;
                    color: #363636;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    content: "arrow_forward_ios";
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -moz-osx-font-smoothing: grayscale;
                    font-feature-settings: 'liga';
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                .search_history_item_profile_list{
                    margin: 0 0 5px 0;
                }
                .search_history_item_info{
                    margin: 0 0 5px 0;
                }
                .search_history_item_image_right,
                .search_history_item_image{
                    width: calc((100vw - 20px - 20px) / 2 - 10px);
                    height: calc((100vw - 20px - 20px) / 2 - 10px);
                    margin: 0 0 0 0;
                }
                    .search_history_item_image_right{
                        height: calc((100vw - 20px - 20px) / 2 - 30px);
                    }
                .search_history_item_info_image_empty{
                    position: relative;
                    top: 0;
                    left: 0;
                    float: left;
                    width: calc((100vw - 20px - 20px) / 2 - 10px);
                    height: calc((100vw - 20px - 20px) / 2 - 10px);
                    margin: 0 0 0 0;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                    .search_history_item_info_image_empty table{
                        width: 100%;
                    }
                    .search_history_item_info_image_empty td{
                        width: 100%;
                        font-size: 1em;
                        height: calc((100vw - 20px - 20px) / 2 - 10px);
                    }
            .search_history_item_profile_pdf_image{
                width: calc((100vw - 20px - 20px) / 5 - 10px);
                height: calc((100vw - 20px - 20px) / 5 - 10px);
            }
            .search_history_item_profile_pdf_info{
                width: calc(4 * (100vw - 20px - 20px) / 5 - 10px);
                height: calc((100vw - 20px - 20px) / 5 - 10px);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
                .search_history_item_profile_pdf_load{
                    font-size: 0.8em;
                    -webkit-transform: translate(calc((100vw - 20px - 20px) / 5), -50%);
                    -moz-transform: translate(calc((100vw - 20px - 20px) / 5), -50%);
                    -ms-transform: translate(calc((100vw - 20px - 20px) / 5), -50%);
                    -o-transform: translate(calc((100vw - 20px - 20px) / 5), -50%);
                    transform: translate(calc((100vw - 20px - 20px) / 5), -50%);

                }
                .search_history_item_profile_pdf_info table{
                    width: 100%;
                    height: calc((100vw - 20px - 20px) / 5 - 10px);
                }
                    .search_history_item_profile_pdf_info td{
                        font-size: 0.8em;
                        padding: 0 0 0 0;
                        height: calc((100vw - 20px - 20px) / 5 - 10px);
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        line-height: normal;
                    }