#all{
    /*width: 320px;*/
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}
    #worktime{
        display: none;
    }
    #load_percent{
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 1em;
    }
        #root_content{
            width: 100%;
            min-width: 100%;
        }
        #root_face_block{
            top: 50%;
            left: 50%;
            width: calc(100vw - 10px);
            height: auto;
            max-height: none;
            background: rgba(255,255,255,.9);
            border-radius: 3px;
            border: 1px solid #1b93db;
            -webkit-transform: translate(-50%, calc(-50% + 30px));
            -moz-transform: translate(-50%, calc(-50% + 30px));
            -ms-transform: translate(-50%, calc(-50% + 30px));
            -o-transform: translate(-50%, calc(-50% + 30px));
            transform: translate(-50%, calc(-50% + 30px));
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            padding: 0 0 0 0;
            /*padding: 10px 10px 10px 10px;*/
        }
            #root_face_block p{
                margin-bottom: 5px;
            }

    #header{
        width: 100%;
        min-width: 100%;
        height: 60px;
        overflow: visible;
    }
        #logo{
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        #header_menu{
            position: fixed;
            /*background: linear-gradient(to right, rgba(27,147,219,.5),rgba(27,147,219,1),rgba(27,147,219,1));*/
            background: linear-gradient(to right, transparent, rgba(27,147,219,.7),rgba(27,147,219,.8),rgba(27,147,219,.9),rgba(27,147,219,1));
            /*background-image: -o-linear-gradient(left, rgb(254,133,107) 24%, rgb(35,171,17) 62%);*/
            /*background-image: -moz-linear-gradient(left, rgb(254,133,107) 24%, rgb(35,171,17) 62%);*/
            /*background-image: -webkit-gradient(linear, left left, right right, color-stop(0.24, rgb(254,133,107)), color-stop(0.62, rgb(35,171,17)));*/
            /*background-image: -webkit-linear-gradient(left, rgb(254,133,107) 24%, rgb(35,171,17) 62%);*/
            /*background-image: -ms-linear-gradient(bottom, rgb(254,133,107) 24%, rgb(35,171,17) 62%);*/
            /*!* This last line is all you need for modern browsers *!*/
            /*background-image: linear-gradient(bottom, rgb(254,133,107) 24%, rgb(35,171,17) 62%);*/
            top: 0;
            opacity: 0;
            left: 100%;
            width: 100%;
            height: 100vh;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            /*-webkit-transform: translate(-100%, 0);*/
            /*-moz-transform: translate(-100%, 0);*/
            /*-ms-transform: translate(-100%, 0);*/
            /*-o-transform: translate(-100%, 0);*/
            /*transform: translate(-100%, 0);*/
            padding: 10px 0 10px 0;
            z-index: 100;
            overflow: hidden;
        }
            #header_menu_list{
                position: relative;
                top: 0;
                left: 100%;
                width: 250px;
                margin: 5px 0 0 0;
                -webkit-transform: translate(-100%, 0);
                -moz-transform: translate(-100%, 0);
                -ms-transform: translate(-100%, 0);
                -o-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                .header_menu_item,
                .header_menu_item_disable,
                .header_menu_item_active{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-align: right;
                    color: #ffffff;
                    font-size: 1.1em;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 5px 20px 5px 20px;
                    overflow: hidden;
                }
                    .header_menu_item_active{
                        background: linear-gradient(to right, transparent, rgb(21, 132, 0));
                        /*color: #137600;*/
                        font-size: 1.1em;
                    }
        #header_menu_line_active{
            display: none;
        }
        #header_reg{
            display: none;
        }
        #header_login{
            display: none;
        }
        #menu_button{
            position: relative;
            top: 50%;
            left: 100%;
            width: 40px;
            height: 40px;
            -webkit-transform: translate(calc(-100% - 10px), -50%);
            -moz-transform: translate(calc(-100% - 10px), -50%);
            -ms-transform: translate(calc(-100% - 10px), -50%);
            -o-transform: translate(calc(-100% - 10px), -50%);
            transform: translate(calc(-100% - 10px), -50%);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            overflow: hidden;
        }
            #menu_button:before{
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                font-family: 'Material Icons', sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 2.6em;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
                color: #ffffff;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                font-feature-settings: 'liga';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                content: "menu";
                /*padding: 0 5px 0 0;*/
                /*margin: 0 0 0 10px;*/
                /*float: left;*/
                overflow: hidden;
            }
        #menu_close{
            position: relative;
            top: 0;
            left: 100%;
            width: 40px;
            height: 40px;
            -webkit-transform: translate(calc(-100% - 10px), 0);
            -moz-transform: translate(calc(-100% - 10px), 0);
            -ms-transform: translate(calc(-100% - 10px), 0);
            -o-transform: translate(calc(-100% - 10px), 0);
            transform: translate(calc(-100% - 10px), 0);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            overflow: hidden;
        }
            #menu_close:before{
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                font-family: 'Material Icons', sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 2.6em;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
                color: #ffffff;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                font-feature-settings: 'liga';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                content: "close";
                /*padding: 0 5px 0 0;*/
                /*margin: 0 0 0 10px;*/
                /*float: left;*/
                overflow: hidden;
            }
    #footer{
        display: none;
    }
    #root_left_content,
    #root_face_content,
    #root_default_content,
    #root_right_content{
        position: relative;
        background: none;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 1em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        padding: 0 0 0 0;
        border: none;
        float: none;
    }
        #root_face_content{
            max-height: calc(100vh - 100px);
            overflow-y: auto;
        }
        #root_left_content,
        #root_face_content,
        #root_right_content{
            padding: 10px 10px 10px 10px;
        }
        #root_default_content{
            padding: 10px 10px 10px 10px;
            font-size: .5em;
            max-height: calc(100vh - 100px);
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            overflow-y: auto;
        }

        #root_default_content p,
        #root_left_content p,
        #root_text_content p,
        #root_face_content p,
        #root_right_content p{
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            margin: 0 0 10px 0;
            overflow: hidden;
        }


        #root_default_content h1,
        #root_left_content h1,
        #root_text_content h1,
        #root_face_content h1,
        #root_right_content h1,
        #root_default_content h2,
        #root_left_content h2,
        #root_text_content h2,
        #root_face_content h2,
        #root_right_content h2{
            position: relative;
            display: inline;
            width: auto;
            font-family: "Roboto", sans-serif;
            font-size: 1em;
            font-weight: normal;
            color: #222222;
            overflow: hidden;
        }
        #root_default_content h1{
            position: relative;
            display: block;
            width: 100%;
            font-size: 1.5em;
            font-weight: bold;
            margin: 0 0 10px 0;
        }
        #root_default_content h2{
            position: relative;
            display: block;
            width: 100%;
            font-size: 1.5em;
            font-weight: bold;
            margin: 0 0 10px 0;
        }

        #root_left_content,
        #root_right_content{
            font-size: 0.6em;
        }
        #root_search_info_block{
            font-size: 1em;
            height: 10px;
        }
        #root_face_content{
            min-height: 87px;
        }
        #root_right_content_container{
            position: relative;
            padding: 0 0 0 0;
        }
        #root_search_face_button,
        #root_search_face_button_cancel,
        .root_search_face_image_row_container{
            width: 100%;
            height: auto;
        }
            #root_search_face_image_row_container_1{
                margin-bottom: 10px;
            }
        #root_search_face_button,
        #root_search_face_button_cancel,
        .root_search_face_button,
        .root_search_face_button_cancel{
            top: 0;
            left: 0;
            width: 100%;
            height: 40px;
            border-radius: 3px;
            padding: 7px 0 7px 0;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            font-size: 1em;
            display: none;
        }
            #root_search_face_button,
            .root_search_face_button{
                margin: 0 0 10px 0;
            }
            #root_search_face_button_cancel,
            .root_search_face_button_cancel{
                margin: 0 0 0 0;
            }
            #root_search_face_image_block,
            .root_search_face_image_block{
                top: 50%;
                left: 50%;
                width: 100%;
                height: 60px;
                /*padding: 5px 0 5px 0;*/
                /*height: 600px;*/
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
            #root_search_face_button_shot,
            #root_search_face_button_choose,
            .root_search_face_button_shot,
            .root_search_face_button_choose{
                position: absolute;
                /*display: inline-block;*/
                white-space: nowrap;
                top: 50%;
                left: 50%;
                width: auto;
                min-width: 85%;
                height: 35px;
                margin: 0;
                text-align: center;
                padding: 0 0 0 0;
                font-size: 1em;
                word-wrap: normal;
            }
                /*#root_search_face_button_choose{*/
                    /*-webkit-transform: translate(-50%, calc(-100% - 5px));*/
                    /*-moz-transform: translate(-50%, calc(-100% - 5px));*/
                    /*-ms-transform: translate(-50%, calc(-100% - 5px));*/
                    /*-o-transform: translate(-50%, calc(-100% - 5px));*/
                    /*transform: translate(-50%, calc(-100% - 5px));*/
                /*}*/
                #root_search_face_button_choose,
                .root_search_face_button_choose{
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                #root_search_face_button_shot,
                .root_search_face_button_shot{
                    -webkit-transform: translate(-50%, 5px);
                    -moz-transform: translate(-50%, 5px);
                    -ms-transform: translate(-50%, 5px);
                    -o-transform: translate(-50%, 5px);
                    transform: translate(-50%, 5px);
                }
                    #root_search_face_button_shot span,
                    #root_search_face_button_choose span,
                    .root_search_face_button_shot span,
                    .root_search_face_button_choose span{
                        position: relative;
                        top: 0;
                        left: 0;
                        display: inline-block;
                        margin: 0 0 0 0;
                        padding: 5px 0 0 0;
                        /*float: left;*/
                        overflow: hidden;
                    }
                #root_search_face_button_shot:before,
                #root_search_face_button_choose:before,
                .root_search_face_button_shot:before,
                .root_search_face_button_choose:before{
                    position: relative;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    width: 25px;
                    height: 20px;
                    font-family: 'Material Icons', sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 1em;
                    line-height: 1;
                    text-transform: none;
                    letter-spacing: normal;
                    word-wrap: normal;
                    white-space: nowrap;
                    direction: ltr;
                    color: #1b93db;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -moz-osx-font-smoothing: grayscale;
                    font-feature-settings: 'liga';
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 0 5px 0 0;
                    /*margin: 0 0 0 10px;*/
                    /*float: left;*/
                    overflow: hidden;
                }
                    #root_search_face_button_choose:before,
                    .root_search_face_button_choose:before{
                        content: "add_photo_alternate";
                    }
                    #root_search_face_button_shot:before,
                    .root_search_face_button_shot:before{
                        content: "add_a_photo";
                    }
                        #root_search_face_button_shot:hover::before,
                        .root_search_face_button_shot:hover::before{
                            color: #ffffff;
                        }
                        #root_search_face_button_choose:hover::before,
                        .root_search_face_button_choose:hover::before{
                            color: #ffffff;
                        }
    .root_face_image_random{
        width: 50px;
        height: 70px;
    }
    .dialog_block{
        border-radius: 3px;
        font-size: 1em;
        width: calc(100% - 10px);
    }
        .dialog_row_mobile{
            margin: 0 0 10px 0;
        }
        .dialog_controls{
            margin: 0 0 0 0;
        }
        .dialog_submit_ok,
        .dialog_submit_create,
        .dialog_submit_add,
        .dialog_submit_block,
        .dialog_submit_unblock,
        .dialog_submit_remove,
        .dialog_submit_update,
        .dialog_submit_save,
        .dialog_submit_cancel,
        .dialog_submit_close,
        .dialog_submit_reg,
        .dialog_submit_disable{
            position: relative;
            width: 100%;
            height: 35px;
            padding: 6px 0 6px 0;
            font-size: 1em;
            float: left;
            border-radius: 3px;
        }
    #auth_block{
        border-radius: 3px;
        width: calc(100% - 20px);
        padding: 10px 10px 0 10px;
        font-size: 1em;
    }
        .dialog_close_button{
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
        .dialog_row,
        .auth_row{
            font-size: 1em;
            margin: 0 0 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
            .dialog_row_label{
                width: 50%;
            }
            .dialog_row_input{
                width: 50%;
                padding: 0 0 0 0;
            }
        .dialog_title,
        .block_title{
            font-size: 1em;
            margin-bottom: 10px;
        }
        .dialog_row_label,
        .dialog_row_input,
        .input_label,
        .dialog_row_input_text,
        .input_text{
            /*padding: 7px 7px 7px 7px;*/
            height: auto;
            min-height: 40px;
            font-size: 1em;
        }
            .input_label{
                padding: 7px 7px 7px 7px;
            }
            .dialog_row_label{
                padding: 7px 7px 7px 7px;
            }
            .dialog_row_input{
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .dialog_row_label{
                font-size: 1em;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .dialog_row_input_text{
                font-size: 1em;
                border-radius: 3px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .input_text{
                border-radius: 3px;
            }
        .submit_half_button_enable,
        .submit_half_button,
        .submit_button_enable,
        .submit_button{
            width: 100%;
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 10px 0 10px 0;
            font-size: 1em;
            /*font-size: 2em;*/
        }
        #auth_keep_button,
        #auth_keep_button,
        #auth_forgot_button{
            width: 100%;
            margin-bottom: 10px;
            font-size: 1em;
        }
            #auth_forgot_button{
                margin-bottom: 0;
            }
            .auth_keep,
            .auth_keep_active{
                border-radius: 3px;
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
                .auth_keep:before,
                .auth_keep_active:before{
                    width: 25px;
                    height: 25px;
                    padding: 4px 4px 4px 4px;
                    font-size: 1em;
                }