*{
    margin: 0;
    padding: 0;
}
    html,body{
        height: 100%;
    }
        #worktime{
            position: fixed;
            background: #000000;
            top: 100%;
            left: 100%;
            width: 200px;
            height: 200px;
            margin: -60px 0 0 -200px;
            color: #ffffff;
            font-size: 12px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;
            font-family: "Roboto Condensed", sans-serif;
            z-index: 150;
            overflow: hidden;
        }
        #all{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 1240px;
            min-height: 100%;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 16px;
            overflow: hidden;
        }
            #auth_block{
                position: absolute;
                background: #ffffff;
                top: 50%;
                left: 50%;
                width: 300px;
                border: 1px solid #1b93db;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
                font-size: 14px;
                border-radius: 3px;
                padding: 10px 10px 0 10px;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                opacity: 0;
                color: #999999;
                overflow: hidden;
            }
                .block_title{
                    position: relative;
                    width: 100%;
                    color: #1b93db;
                    font-size: 16px;
                    text-align: center;
                    margin: 0 0 10px 0;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    overflow: hidden;
                }
                    .auth_row{
                        position: relative;
                        margin: 0 0 10px 0;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        overflow: hidden;
                    }
                .input_label{
                    position: absolute;
                    /*width: 274px;*/
                    width: 100%;
                    margin: 4px 3px 0 3px;
                    z-index: 1;
                    pointer-events: none;
                    -webkit-transition: all .1s ease;
                    -moz-transition: all .1s ease;
                    -o-transition: all .1s ease;
                    transition: all .1s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                .input_text{
                    position: relative;
                    /*width: 272px;*/
                    width: 100%;
                    color: #999999;
                    outline: none;
                    border: 1px solid #1b93db;
                    border-radius: 3px;
                    padding: 3px;
                    /*margin: 0 10px 0 10px;*/
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    overflow: hidden;
                }
                    #auth_email_text,
                    #auth_login_text{
                        /*text-transform: lowercase;*/
                    }
                    #auth_keep_button{
                        position: relative;
                        display: inline-block;
                        opacity: .8;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        float: left;
                        cursor: pointer;
                        overflow: hidden;
                    }
                        .auth_keep,
                        .auth_keep_active{
                            position: relative;
                            background: #ffffff;
                            top: 0;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            -webkit-transition: all .2s ease;
                            -moz-transition: all .2s ease;
                            -o-transition: all .2s ease;
                            transition: all .2s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            cursor: pointer;
                            float: left;
                            border: 1px solid #1b93db;
                            border-radius: 3px;
                            overflow: hidden;
                        }
                            .auth_keep:before,
                            .auth_keep_active:before{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 20px;
                                height: 20px;
                                font-family: 'Material Icons', sans-serif;
                                font-weight: normal;
                                font-style: normal;
                                font-size: 18px;
                                display: inline-block;
                                line-height: 1;
                                text-transform: none;
                                letter-spacing: normal;
                                word-wrap: normal;
                                white-space: nowrap;
                                direction: ltr;
                                color: #1b93db;
                                -webkit-font-smoothing: antialiased;
                                text-rendering: optimizeLegibility;
                                -moz-osx-font-smoothing: grayscale;
                                font-feature-settings: 'liga';
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                                .auth_keep_active:before{
                                    content: "done";
                                }
                            .auth_keep{
                                background: #ffffff;
                            }
                        #auth_keep_label{
                            position: relative;
                            top: 0;
                            left: 0;
                            float: left;
                            margin: 3px 0 0 5px;
                            overflow: hidden;
                        }
                        #auth_keep_button:hover{
                            opacity: 1;
                        }
                    #auth_forgot_button{
                        position: relative;
                        display: inline-block;
                        opacity: .8;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        margin: 3px 0 0 0;
                        float: right;
                        cursor: pointer;
                        overflow: hidden;
                    }
                        #auth_forgot_button:hover{
                            opacity: 1;
                        }

                .submit_button,
                .submit_half_button,
                .submit_half_button_enable,
                .submit_button_enable{
                    position: relative;
                    background: #ffffff;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    padding: 3px 0 3px 0;
                    border-radius: 3px;
                    border: 1px solid #1b93db;
                    color: #1b93db;
                    z-index: 1;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                    float: left;
                    overflow: hidden;
                }
                    .submit_half_button,
                    .submit_half_button_enable{
                        width: calc(50% - 1%);
                    }
                    .submit_button_enable,
                    .submit_half_button_enable{
                        border: 1px solid #d5d5d5;
                        color: #d5d5d5;
                        cursor: default;
                    }
                    .submit_half_button:hover,
                    .submit_button:hover{
                        background: #1b93db;
                        color: #fffefe;
                    }

    #header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #363636;
        -webkit-box-shadow: 0 1px 3px #000000;
        -moz-box-shadow: 0 1px 3px #000000;
        box-shadow: 0 1px 3px #000000;
        color: #363636;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        z-index: 10;
        opacity: 1;
        overflow: hidden;
    }
        #logo{
            position: absolute;
            background: url(/show/image/style/admin/logo/logo_shluham_net_new_60_6.png) no-repeat;
            /*background-size: cover;*/
            width: 271px;
            height: 60px;
            -webkit-transform: translate(40px, 0);
            -moz-transform: translate(40px, 0);
            -ms-transform: translate(40px, 0);
            -o-transform: translate(40px, 0);
            transform: translate(40px, 0);
            /*-webkit-transform: translate(40px, 9px);*/
            /*-moz-transform: translate(40px, 9px);*/
            /*-ms-transform: translate(40px, 9px);*/
            /*-o-transform: translate(40px, 9px);*/
            /*transform: translate(40px, 9px);*/
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            cursor: pointer;
            overflow: hidden;
        }
        .header_login{
            position: relative;
            top: 0;
            left: 0;
            float: right;
            display: inline-block;
            color: #ffffff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            margin: 25px 40px 0 0;
            overflow: hidden;
        }
            .header_login:hover{
                color: #1b93db;
            }
        #header_menu{
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 400;
            /*color: #373636;*/
            color: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            overflow: hidden;
        }
            .header_menu_item,
            .header_menu_item_disable,
            .header_menu_item_active{
                position: relative;
                top: 0;
                left: 0;
                display: inline-block;
                color: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 30px 0 30px;
                cursor: pointer;
                text-transform: uppercase;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                z-index: 1;
                overflow: hidden;
            }
                .header_menu_item:hover,
                .header_menu_item_active{
                    color: #1b93db;
                }
                .header_menu_item_disable{
                    opacity: .5;
                    cursor: default;
                }
                .header_menu_line_active{
                    position: absolute;
                    background: #1b93db;
                    top: 100%;
                    left: 0;
                    min-width: 100px;
                    height: 2px;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    margin: -2px 0 0 0;
                    z-index: 2;
                    overflow: hidden;
                }

    #footer{
        position: relative;
        background: #373636;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 30px;
        margin: -30px 0 0 0;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        padding: 6px 40px 0 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .bg_all{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity .2s ease;
        -moz-transition: opacity .2s ease;
        -o-transition: opacity .2s ease;
        transition: opacity .2s ease;
        opacity: 0;
        z-index: 20;
        overflow: hidden;
    }
    #bg_load{
        position: fixed;
        background: #1b93db;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        z-index: 200;
        overflow: hidden;
    }
        #load_percent{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 32px;
            font-weight: bold;
            margin: 0 0 0 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            overflow: hidden;
        }
        #root_content{
            position: relative;
            top: 0;
            left: 0;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: normal;
            color: #222222;
            width: 100%;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            min-width: 1200px;
            height: 100vh;
            opacity: 0;
            overflow: hidden;
        }
            #root_face_block{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1202px;
                height: 100vh;
                max-height: calc(100vh - 150px);
                /*border: 1px solid #1b93db;*/
                /*-webkit-box-shadow: 0px 2px 15px #000000;*/
                /*-moz-box-shadow: 0px 2px 15px #000000;*/
                /*box-shadow: 0px 2px 15px #000000;*/
                /*margin: -100px 0 0 -600px;*/
                margin: 0 0 0 0;
                -webkit-transform: translate(-50%, calc(-50% + 15px));
                -moz-transform: translate(-50%, calc(-50% + 15px));
                -ms-transform: translate(-50%, calc(-50% + 15px));
                -o-transform: translate(-50%, calc(-50% + 15px));
                transform: translate(-50%, calc(-50% + 15px));
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                pointer-events: none;
                padding: 20px 20px 20px 20px;
                z-index: 2;
                overflow: hidden;
            }
                #root_face_block *{
                    pointer-events: auto;
                }
                #root_face_block_bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: .9;
                    overflow: hidden;
                }
                #root_left_content,
                #root_text_content,
                #root_default_content,
                #root_static_content,
                #root_face_content,
                #root_right_content{
                    position: absolute;
                    background: rgba(255,255,255,.9);
                    top: 50%;
                    left: 0;
                    width: 400px;
                    float: left;
                    border: 1px solid #1b93db;
                    -webkit-box-shadow: 0px 2px 15px #000000;
                    -moz-box-shadow: 0px 2px 15px #000000;
                    box-shadow: 0px 2px 15px #000000;
                    padding: 20px 20px 20px 20px;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    -webkit-transform: translate(0, calc(-50% + 15px));
                    -moz-transform: translate(0, calc(-50% + 15px));
                    -ms-transform: translate(0, calc(-50% + 15px));
                    -o-transform: translate(0, calc(-50% + 15px));
                    transform: translate(0, calc(-50% + 15px));
                    border-radius: 5px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                    #root_left_content{
                        width: 380px;
                        left: 0;
                    }
                    #root_face_content{
                        /*left: 400px;*/
                        left: 50%;
                        -webkit-transform: translate(-50%, calc(-50% + 15px));
                        -moz-transform: translate(-50%, calc(-50% + 15px));
                        -ms-transform: translate(-50%, calc(-50% + 15px));
                        -o-transform: translate(-50%, calc(-50% + 15px));
                        transform: translate(-50%, calc(-50% + 15px));
                        min-height: 230px;
                    }
                    #root_default_content{
                        top: 0;
                        left: 0;
                        -webkit-transform: none;
                        -moz-transform: none;
                        -ms-transform: none;
                        -o-transform: none;
                        transform: none;
                        width: 100%;
                        max-height: calc(100vh - 150px);
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
                    #root_static_content{
                        left: 0;
                        top: 0;
                        width: 100%;
                        -webkit-transform: translate(0, 0);
                        -moz-transform: translate(0, 0);
                        -ms-transform: translate(0, 0);
                        -o-transform: translate(0, 0);
                        transform: translate(0, 0);
                        max-height: 100%;
                        overflow-y: auto;
                        /*min-height: calc(100vh - 130px);*/
                    }
                    #root_text_content{
                        left: 400px;
                        width: 100%;
                    }
                    #root_right_content{
                        width: 380px;
                        left: 820px;
                    }
                        #root_right_content_container{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            padding: 20px 20px 10px 20px;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            /*-webkit-transform: translate(0, -50%);*/
                            /*-moz-transform: translate(0, -50%);*/
                            /*-ms-transform: translate(0, -50%);*/
                            /*-o-transform: translate(0, -50%);*/
                            /*transform: translate(0, -50%);*/
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                    #root_default_content p,
                    #root_left_content p,
                    #root_text_content p,
                    #root_face_content p,
                    #root_right_content p{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: auto;
                        margin: 0 0 10px 0;
                        overflow: hidden;
                    }
                    #root_default_content h1,
                    #root_left_content h1,
                    #root_text_content h1,
                    #root_face_content h1,
                    #root_right_content h1,
                    #root_default_content h2,
                    #root_left_content h2,
                    #root_text_content h2,
                    #root_face_content h2,
                    #root_right_content h2{
                        position: relative;
                        display: inline;
                        width: auto;
                        font-family: "Roboto", sans-serif;
                        font-size: 18px;
                        font-weight: normal;
                        color: #222222;
                        overflow: hidden;
                    }
                        #root_default_content ul{
                            position: relative;
                            top: 0;
                            left: 0;
                            list-style: inside decimal;
                            margin: 0 0 10px 10px;
                            overflow: hidden;
                        }
                    #root_default_content h1{
                        position: relative;
                        display: block;
                        width: 100%;
                        font-family: "Roboto", sans-serif;
                        font-size: 24px;
                        font-weight: bold;
                        color: #222222;
                        margin: 0 0 20px 0;
                        overflow: hidden;
                    }
                    #root_default_content h2{
                        position: relative;
                        display: block;
                        width: 100%;
                        font-family: "Roboto", sans-serif;
                        font-size: 21px;
                        font-weight: bold;
                        color: #222222;
                        margin: 0 0 15px 0;
                        overflow: hidden;
                    }
                    .root_search_info_block_red,
                    .root_search_info_block_green,
                    .root_search_info_block{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 20px;
                        font-family: "Roboto", sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 1px 0 1px 0;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        opacity: 0;
                        overflow: hidden;
                    }
                        .root_search_info_block_green{
                            color: #137600;
                        }
                        .root_search_info_block_red{
                            color: #ff0000;
                        }
                    .root_search_face_button_disable,
                    .root_search_face_button{
                        position: relative;
                        background: #ffffff;
                        top: 0;
                        left: 50%;
                        width: 360px;
                        height: 50px;
                        text-align: center;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 22px;
                        color: #1b93db;
                        padding: 10px 20px 15px 20px;
                        border-radius: 3px;
                        border: 1px solid #1b93db;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transform: translate(-50%, 0);
                        -moz-transform: translate(-50%, 0);
                        -ms-transform: translate(-50%, 0);
                        -o-transform: translate(-50%, 0);
                        transform: translate(-50%, 0);
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        cursor: pointer;
                        overflow: hidden;
                    }
                        .root_search_face_button span.red,
                        .root_search_face_button_disable span.red{
                            color: #ff0000;
                            text-shadow: 1px 1px 0 #cccccc;
                        }
                        .root_search_face_button_disable{
                            background-color: #d7d7d7;
                            border-color: #6c6c6c;
                            color: #6c6c6c;
                            cursor: default;
                        }
                        .root_search_face_button:hover{
                            background: #1b93db;
                            color: #ffffff;
                        }
                    #root_search_face_button_shot,
                    #root_search_face_button_choose,
                    .root_search_face_button_choose{
                        position: absolute;
                        background: #ffffff;
                        top: 50%;
                        left: 50%;
                        width: 300px;
                        height: 35px;
                        text-align: center;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        color: #1b93db;
                        padding: 5px 20px 5px 20px;
                        margin: -30px 0 0 -150px;
                        border-radius: 3px;
                        border: 1px solid #1b93db;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        z-index: 4;
                        cursor: pointer;
                        overflow: hidden;
                    }
                        #root_search_face_button_choose_container,
                        #root_search_face_button_shot_container{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            #root_search_face_button_shot_container span,
                            #root_search_face_button_choose_container span{
                                position: relative;
                                display: inline-block;
                                top: 0;
                                left: 0;
                                float: left;
                                overflow: hidden;
                            }
                        #root_search_face_button_shot:hover,
                        #root_search_face_button_choose:hover{
                            background: #1b93db;
                            color: #ffffff;
                        }
                        #root_search_face_button_label{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 50px;
                            text-align: center;
                            font-family: "Roboto", sans-serif;
                            font-weight: 400;
                            font-size: 22px;
                            color: #6c6c6c;
                            padding: 10px 20px 15px 20px;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            z-index: 2;
                            overflow: hidden;
                        }
                        #root_search_face_button_progress{
                            position: absolute;
                            background: rgba(19,118,0,0.4);
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 50px;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            z-index: 1;
                            overflow: hidden;
                        }
                    .root_search_face_reset,
                    #root_search_face_reset{
                        position: absolute;
                        background: #ffffff;
                        top: 0;
                        left: 100%;
                        width: 20px;
                        height: 20px;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        cursor: pointer;
                        float: left;
                        border: 1px solid #1b93db;
                        border-radius: 3px;
                        z-index: 2;
                        margin: 10px 0 0 -40px;
                        overflow: hidden;
                    }
                        .root_search_face_reset:before,
                        #root_search_face_reset:before{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            font-family: 'Material Icons', sans-serif;
                            font-weight: normal;
                            font-style: normal;
                            font-size: 18px;
                            display: inline-block;
                            line-height: 1;
                            text-transform: none;
                            letter-spacing: normal;
                            word-wrap: normal;
                            white-space: nowrap;
                            direction: ltr;
                            color: #1b93db;
                            content: "close";
                            -webkit-font-smoothing: antialiased;
                            text-rendering: optimizeLegibility;
                            -moz-osx-font-smoothing: grayscale;
                            font-feature-settings: 'liga';
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            .root_search_face_reset:hover:before,
                            #root_search_face_reset:hover:before{
                                background: #1b93db;
                                color: #ffffff;
                            }
            #root_face_preview_list{
                position: fixed;
                width: 120vw;
                height: 120vh;
                top: 0;
                left: 0;
                margin: -12px 0 0 0;
                /*margin: 60px 0 0 0;*/
                z-index: 1;
                overflow: hidden;
            }
                .root_face_image_random{
                    position: relative;
                    display: block;
                    float: left;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 60px;
                    opacity: 0;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    z-index: 1;
                    overflow: hidden;
                }
                    .root_face_image_random:hover{
                        border-radius: 5px;
                        border: 1px solid #1b93db;
                        -webkit-box-shadow: 0px 0px 10px 5px #1b93db;
                        -moz-box-shadow: 0px 0px 10px 5px #1b93db;
                        box-shadow: 0px 0px 10px 5px #1b93db;
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
                        transform: scale(1.2);
                        z-index: 2;
                    }
            .root_search_face_image_block_row{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                transform: translate(0, 0);
                overflow: hidden;
            }
                #root_search_face_reset{
                    z-index: 7;
                }
                #root_search_face_content_loading{
                    position: absolute;
                    background: rgba(27,147,219,.6);
                    display: none;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    z-index: 5;
                    overflow: hidden;
                }
                    #root_search_face_content_loading span{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        color: #ffffff;
                        text-align: center;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        -o-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        overflow: hidden;
                    }
                .root_search_face_image_row_container{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 385px;
                    height: 180px;
                    float: left;
                    text-align: center;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transform: translate(0, 0);
                    -moz-transform: translate(0, 0);
                    -ms-transform: translate(0, 0);
                    -o-transform: translate(0, 0);
                    transform: translate(0, 0);
                    overflow: hidden;
                }
                    #root_search_face_image_row_container_1,
                    #root_search_face_image_row_container_2{
                        opacity: 0;
                        display: none;
                    }
                    #root_search_face_image_block,
                    .root_search_face_image_block{
                        position: relative;
                        top: 50%;
                        left: 0;
                        width: 358px;
                        height: 180px;
                        border: 2px dashed #1b93db;
                        text-align: center;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        -o-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        overflow: hidden;
                    }
                        #root_search_face_image_block_container{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            /*height: 180px;*/
                            -webkit-transition: all 3s ease;
                            -moz-transition: all 3s ease;
                            -ms-transition: all 3s ease;
                            -o-transition: all 3s ease;
                            transition: all 3s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            #root_search_face_image_block_container:hover{
                            transform: scale(1.2);
                        }
                        #root_search_face_image_info,
                        .root_search_face_image_info{
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 180px;
                            font-family: "Roboto", sans-serif;
                            font-size: 18px;
                            font-weight: normal;
                            color: #1b93db;
                            text-align: center;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            margin: 15px 0 20px 0;
                            z-index: 1;
                            overflow: hidden;
                        }
                        #root_search_face_image_loading,
                        .root_search_face_image_loading{
                            position: absolute;
                            background: rgba(30, 165, 245, 0.5);
                            display: none;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            font-family: "Roboto", sans-serif;
                            font-size: 18px;
                            font-weight: normal;
                            color: #6c6c6c;
                            text-align: center;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            opacity: 0;
                            z-index: 10;
                            overflow: hidden;
                        }
                            .root_search_face_image_loading span{
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                color: #00146c;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                -webkit-transform: translate(0, -50%);
                                -moz-transform: translate(0, -50%);
                                -ms-transform: translate(0, -50%);
                                -o-transform: translate(0, -50%);
                                transform: translate(0, -50%);
                                overflow: hidden;
                            }
                        #root_search_face_image_error,
                        .root_search_face_image_error{
                            position: absolute;
                            background: rgba(0, 98, 255, 0.5);
                            display: none;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            font-family: "Roboto", sans-serif;
                            font-size: 18px;
                            font-weight: normal;
                            color: #6c6c6c;
                            text-align: center;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            opacity: 0;
                            z-index: 10;
                            overflow: hidden;
                        }
                            .root_search_face_image_error span{
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                color: #ffffff;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                -webkit-transform: translate(0, -50%);
                                -moz-transform: translate(0, -50%);
                                -ms-transform: translate(0, -50%);
                                -o-transform: translate(0, -50%);
                                transform: translate(0, -50%);
                                overflow: hidden;
                            }
                        #root_search_face_image_src,
                        .root_search_face_image_src{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            /*height: 180px;*/
                            text-align: center;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            opacity: 0;
                            z-index: 2;
                            overflow: hidden;
                        }
                            #root_search_face_image_src_object,
                            .root_search_face_image_src_object{
                                position: relative;
                                top: 0;
                                left: 0;
                                image-orientation: from-image;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                        #root_search_face_coords_list,
                        .root_search_face_coords_list{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            z-index: 10;
                            overflow: hidden;
                        }
                        #root_search_face_image_input,
                        .root_search_face_image_input{
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: none;
                            width: 100%;
                            height: 180px;
                            text-align: center;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            opacity: 0;
                            z-index: 3;
                            overflow: hidden;
                        }
                    .root_search_face_price{
                        position: absolute;
                        top: 100%;
                        left: 100%;
                        min-width: 300px;
                        display: none;
                        opacity: 0;
                        font-family: "Roboto", sans-serif;
                        font-size: 20px;
                        color: #222222;
                        text-align: right;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        margin: -35px 0 0 0;
                        padding: 0 40px 0 0;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        -webkit-transform: translate(-100%, -100%);
                        -moz-transform: translate(-100%, -100%);
                        -ms-transform: translate(-100%, -100%);
                        -o-transform: translate(-100%, -100%);
                        transform: translate(-100%, -100%);
                        overflow: hidden;
                    }
                        .root_search_face_price span{
                            position: relative;
                            top: 0;
                            left: 0;
                            font-weight: bold;
                            overflow: hidden;
                        }

        #root_city_stats_block{
            position: relative;
            top: 0;
            left: 50%;
            width: 100%;
            max-width: 500px;
            /*font-family: "Roboto", sans-serif;*/
            /*font-weight: 400;*/
            /*font-size: 14px;*/
            display: inline-block;
            border-top: 1px solid #dedede;
            border-right: 1px solid #dedede;
            border-left: 1px solid #dedede;
            box-sizing: border-box;
            transform: translate(-50%,0);
            overflow: auto;
        }
            #root_city_stats_header{
                position: relative;
                display: inline-block;
                background: #ffffff;
                background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                background: -o-linear-gradient(#ffffff,#f7f7f7);
                background: -moz-linear-gradient(#ffffff,#f7f7f7);
                background: linear-gradient(#ffffff,#f7f7f7);
                color: #545454;
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                border-bottom: 1px solid #dedede;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                .root_city_stats_row_item{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    border-bottom: 1px solid #dedede;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
        .root_city_stats_header_col,
        .root_city_stats_row_item_col{
            position: relative;
            top: 0;
            left: 0;
            text-align: center;
            width: 125px;
            height: 30px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            overflow: hidden;
        }
        .root_city_stats_row_item_col{
            padding: 0 0 0 0;
            height: 30px;
        }