/*#bg_load{*/
    /*position: fixed;*/
    /*background: #1b93db;*/
    /*top: 0;*/
    /*left: 0;*/
    /*-webkit-transition: opacity .3s ease;*/
    /*-moz-transition: opacity .3s ease;*/
    /*-o-transition: opacity .3s ease;*/
    /*transition: opacity .3s ease;*/
    /*z-index: 200;*/
    /*overflow: hidden;*/
/*}*/
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #363636;
    -webkit-box-shadow: 0 2px 7px #363636;
    -moz-box-shadow: 0 2px 7px #363636;
    box-shadow: 0 2px 7px #363636;
    color: #363636;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 10;
    opacity: 1;
    overflow: hidden;
}
    #logo{
        position: absolute;
        background: url(/show/image/style/admin/logo/logo_shluham_net_new_60_6.png) no-repeat;
        /*background-size: cover;*/
        width: 271px;
        height: 60px;
        -webkit-transform: translate(40px, 0);
        -moz-transform: translate(40px, 0);
        -ms-transform: translate(40px, 0);
        -o-transform: translate(40px, 0);
        transform: translate(40px, 0);
        /*-webkit-transform: translate(40px, 9px);*/
        /*-moz-transform: translate(40px, 9px);*/
        /*-ms-transform: translate(40px, 9px);*/
        /*-o-transform: translate(40px, 9px);*/
        /*transform: translate(40px, 9px);*/
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
        overflow: hidden;
    }

    #header_menu{
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        /*color: #373636;*/
        color: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        overflow: hidden;
    }
        .header_menu_item,
        .header_menu_item_disable,
        .header_menu_item_active{
            position: relative;
            display: inline-block;
            color: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 30px 0 30px;
            cursor: pointer;
            text-transform: uppercase;
            z-index: 1;
            overflow: hidden;
        }
            .header_menu_item_active{
                color: #1b93db;
            }
            .header_menu_item_disable{
                opacity: .5;
                cursor: default;
            }
        .header_menu_line_active{
            position: absolute;
            /*background: #d08200;*/
            background: #1b93db;
            top: 100%;
            left: 0;
            min-width: 100px;
            height: 2px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            margin: -2px 0 0 0;
            z-index: 2;
            overflow: hidden;
        }

    .header_profile,
    .header_profile_active{
        position: absolute;
        top: 0;
        left: 100%;
        width: 100px;
        min-width: 50px;
        -webkit-transform: translate(-100px, 17px);
        -moz-transform: translate(-100px, 17px);
        -ms-transform: translate(-100px, 17px);
        -o-transform: translate(-100px, 17px);
        transform: translate(-100px, 17px);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        opacity: 0;
        cursor: pointer;
        overflow: hidden;
    }
        #header_profile_image{
            position: relative;
            width: 24px;
            height: 24px;
            float: left;
            border: 1px solid #373636;
            border-radius: 12px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            overflow: hidden;
        }
        #header_profile_login{
            position: relative;
            /*display: inline-block;*/
            top: 0;
            left: 0;
            height: 24px;
            padding: 3px 12px 9px 8px;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 300;
            /*color: #373636;*/
            color: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            text-transform: lowercase;
            float: left;
            overflow: hidden;
        }

    #header_profile_menu_block{
        position: absolute;
        top: 0;
        left: 0;
        width: 170px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        z-index: 11;
        overflow: hidden;
    }
        #header_profile_arrow{
            position: absolute;
            background: url(/Project/Whore/Admin/Template/Images/System/admin_arrow_up.png) 50% 0 no-repeat;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            z-index: 2;
            overflow: hidden;
        }
        #header_profile_menu{
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0, 9px);
            -moz-transform: translate(0, 9px);
            -ms-transform: translate(0, 9px);
            -o-transform: translate(0, 9px);
            transform: translate(0, 9px);
            border: 1px solid #1b93db;
            /*border: 1px solid #1b93db;*/
            z-index: 1;
            overflow: hidden;
        }
            .header_profile_menu_item_active,
            .header_profile_menu_item{
                position: relative;
                background: #ffffff;
                color: #454545;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 9px 0 9px 0;
                cursor: pointer;
                overflow: hidden;
            }
                .header_profile_menu_item_active,
                .header_profile_menu_item:hover{
                    color: #373636;
                    /*color: #1b93db;*/
                    background: #1b93db;
                }
                .header_profile_menu_item_active{
                    cursor: default;
                }
    #dashboard_content{
        position: relative;
        top: 0;
        left: 0;
        min-height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        padding: 0 0 10px 0;
        z-index: 9;
        overflow: hidden;
    }

#footer{
    position: fixed;
    background: #373636;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 30px;
    margin: -30px 0 0 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    padding: 6px 40px 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    overflow: hidden;
}

    .dashboard_stats_block{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 200px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: -100px 0 0 -250px;
        overflow: hidden;
    }
        .dashboard_stats_label{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
        }
    .dashboard_partner_hello_block{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: -20px 0 0 0;
        overflow: hidden;
    }
        .dashboard_partner_hello_label{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 34px;
            color: #747474;
            opacity: .4;
            text-align: center;
            overflow: hidden;
        }

        #user_reg_stats,
        #user_parsing_stats,
        #user_city_stats{
            position: relative;
            /*background: #ffffff;*/
            display: inline-block;
            flex-wrap: wrap;
            top: 0;
            left: 50%;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #1b93db;
            padding: 5px 20px 5px 20px;
            border-radius: 3px;
            border: 1px solid #1b93db;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            cursor: pointer;
            margin: 10px 0 0 0;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            z-index: 10;
            overflow: hidden;
        }
            #user_reg_stats:hover,
            #user_city_stats:hover,
            #user_parsing_stats:hover{
                background: #1b93db;
                color: #ffffff;
            }

        #dialog_user_reg_stats_item_header{
            position: relative;
            display: none;
            background: #ffffff;
            background: -webkit-linear-gradient(#ffffff,#f7f7f7);
            background: -o-linear-gradient(#ffffff,#f7f7f7);
            background: -moz-linear-gradient(#ffffff,#f7f7f7);
            background: linear-gradient(#ffffff,#f7f7f7);
            color: #545454;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #dedede;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }
            .dialog_user_reg_stats_item_row{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                border-bottom: 1px solid #dedede;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                #dashboard_user_reg_stats_header{
                    position: relative;
                    background: #ffffff;
                    background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                    background: -o-linear-gradient(#ffffff,#f7f7f7);
                    background: -moz-linear-gradient(#ffffff,#f7f7f7);
                    background: linear-gradient(#ffffff,#f7f7f7);
                    color: #545454;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border-bottom: 1px solid #dedede;
                    overflow: hidden;
                }
                    .user_reg_stats_item_col,
                    .user_reg_stats_header_col{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 125px;
                        height: 30px;
                        padding: 11px 5px 11px 5px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        float: left;
                        overflow: hidden;
                    }
                        .user_reg_stats_item_col{
                            padding: 0 0 0 0;
                            height: 30px;
                        }


    #face_content{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }
        #face_item{
            position: relative;
            background: #ffffff;
            box-shadow: 0 0 8px 0 #dddddd;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            border-radius: 4px;
            -webkit-transform: translate(260px,0);
            -moz-transform: translate(260px,0);
            -ms-transform: translate(260px,0);
            -o-transform: translate(260px,0);
            transform: translate(260px,0);
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #dddddd;
            overflow: hidden;
        }
            #face_item_block{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                padding: 0 0 120px 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                overflow: hidden;
            }
                #face_block_container{
                    position: relative;
                    top: 0;
                    left: 50%;
                    width: 1225px;
                    padding: 0 0 100px 0;
                    margin: 0 0 0 -620px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                    #face_controls{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin: 20px 0 0 0;
                        padding: 0 20px 0 20px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        overflow: hidden;
                    }
                        #face_add,
                        #face_filter{
                            position: relative;
                            display: inline-block;
                            background: #ffffff;
                            top: 0;
                            left: 0;
                            font-family: "Roboto", sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            color: #1b93db;
                            padding: 5px 20px 5px 20px;
                            margin: 0 20px 0 0;
                            border-radius: 3px;
                            border: 1px solid #1b93db;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            cursor: pointer;
                            /*-webkit-transform: translate(20px, 20px);*/
                            /*-moz-transform: translate(20px, 20px);*/
                            /*-ms-transform: translate(20px, 20px);*/
                            /*-o-transform: translate(20px, 20px);*/
                            /*transform: translate(20px, 20px);*/
                            z-index: 10;
                            overflow: hidden;
                        }
                        #face_add:hover,
                        #face_filter:hover{
                            background: #1b93db;
                            color: #ffffff;
                        }
                        #face_none{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 600px;
                            font-family: "Roboto", sans-serif;
                            font-weight: 400;
                            font-size: 34px;
                            color: #747474;
                            opacity: .4;
                            text-align: center;
                            margin: -20px 0 0 -300px;
                            overflow: hidden;
                        }
                #face_filter_list{
                    position: relative;
                    top: 0;
                    left: 0;
                    /*display: none;*/
                    width: calc(100% - 22px);
                    margin: 0 0 0 20px;
                    border: 1px solid #1b93db;
                    height: 0;
                    opacity: 0;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    border-radius: 3px;
                    padding: 0 20px 0 20px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                    .face_filter_row{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin: 10px 0 0 0;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        overflow: hidden;
                    }
                        .face_filter_col{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 50%;
                            float: left;
                            padding: 0 20px 0 0;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            .face_filter_label{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 50%;
                                float: left;
                                color: #545454;
                                font-family: "Roboto", sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                text-align: right;
                                padding: 5px 10px 0 0;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                            .face_filter_select{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 50%;
                                float: left;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                                .face_input_select,
                                .face_input{
                                    position: relative;
                                    width: 100%;color: #545454;
                                    font-family: "Roboto", sans-serif;
                                    font-weight: 400;
                                    font-size: 14px;
                                    outline: none;
                                    border: 1px solid #1b93db;
                                    border-radius: 3px;
                                    padding: 3px 3px 3px 3px;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    -o-transition: all .3s ease;
                                    transition: all .3s ease;
                                    overflow: hidden;
                                }
                        .face_filter_check,
                        .face_filter_check_active{
                            position: relative;
                            top: 0;
                            left: 0;
                            display: inline-block;
                            cursor: pointer;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            .face_filter_check_box{
                                position: relative;
                                background: #ffffff;
                                top: 0;
                                left: 0;
                                float: right;
                                width: 30px;
                                height: 30px;
                                border: 1px solid #1b93db;
                                border-radius: 3px;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                -o-transition: all .3s ease;
                                transition: all .3s ease;
                                opacity: .8;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                cursor: pointer;
                                overflow: hidden;
                            }
                                .face_filter_check_box:before{
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    font-family: 'Material Icons', sans-serif;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-size: 22px;
                                    display: inline-block;
                                    line-height: 1;
                                    text-transform: none;
                                    letter-spacing: normal;
                                    word-wrap: normal;
                                    white-space: nowrap;
                                    direction: ltr;
                                    color: #1b93db;
                                    -webkit-font-smoothing: antialiased;
                                    text-rendering: optimizeLegibility;
                                    -moz-osx-font-smoothing: grayscale;
                                    font-feature-settings: 'liga';
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    padding: 3px 3px 3px 3px;
                                    overflow: hidden;
                                }
                                    .face_filter_check_active .face_filter_check_box:before{
                                        content: "check";
                                    }
                                        .face_filter_check_box:hover::before,
                                        .face_filter_check_active .face_filter_check_box::before{
                                            opacity: 1;
                                        }
                            .face_filter_check_label{
                                position: relative;
                                top: 0;
                                left: 0;
                                display: inline-block;
                                float: right;
                                color: #545454;
                                font-family: "Roboto", sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                text-align: right;
                                padding: 7px 10px 0 0;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                                .face_filter_check:hover .face_filter_check_label{
                                    opacity: 1;
                                }

                #face_block{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 1200px;
                    margin: 20px 0 0 20px;
                    border: 1px solid #dedede;
                    border-bottom: none;
                    box-shadow: 0 1px 6px #dddddd;
                    overflow: hidden;
                }
                #face_list{
                    position: relative;
                    top: 0;
                    left: 0;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                    #face_header{
                        position: relative;
                        background: #ffffff;
                        background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                        background: -o-linear-gradient(#ffffff,#f7f7f7);
                        background: -moz-linear-gradient(#ffffff,#f7f7f7);
                        background: linear-gradient(#ffffff,#f7f7f7);
                        color: #545454;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        text-align: center;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 40px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        border-bottom: 1px solid #dedede;
                        overflow: hidden;
                    }
                        .face_item_col,
                        .face_header_col{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 160px;
                            height: 40px;
                            padding: 11px 5px 11px 5px;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            float: left;
                            overflow: hidden;
                        }
                            .face_item_col{
                                padding: 0 0 0 0;
                                height: 150px;
                            }
                                .face_item_image_background{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 150px;
                                    height: 150px;
                                    -webkit-transition: all .3s;
                                    -moz-transition: all .3s;
                                    -ms-transition: all .3s;
                                    -o-transition: all .3s;
                                    transition: all .3s;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    opacity: .3;
                                    z-index: 1;
                                    overflow: hidden;
                                }
                                .face_item_image_block{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 150px;
                                    height: 150px;
                                    -webkit-transition: all .5s ease;
                                    -moz-transition: all .5s ease;
                                    -ms-transition: all .5s ease;
                                    -o-transition: all .5s ease;
                                    transition: all .5s ease;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    z-index: 2;
                                    overflow: hidden;
                                }
                                .face_item_image_len{
                                    position: absolute;
                                    background: #ffffff;
                                    top: 100%;
                                    left: 0;
                                    min-width: 25px;
                                    height: 25px;
                                    text-align: center;
                                    font-family: "Roboto", sans-serif;
                                    font-size: 12px;
                                    font-weight: normal;
                                    color: #222222;
                                    display: inline-block;
                                    border: 1px solid #000000;
                                    border-radius: 25px;
                                    float: right;
                                    margin: -31px 5px 0 5px;
                                    padding: 5px 3px 3px 3px;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    z-index: 4;
                                    overflow: hidden;
                                }
                    .face_item{
                        position: relative;
                        background: #ffffff;
                        color: #545454;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        text-align: center;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 150px;
                        -webkit-transition: all .5s ease;
                        -moz-transition: all .5s ease;
                        -ms-transition: all .5s ease;
                        -o-transition: all .5s ease;
                        transition: all .5s ease;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        border-bottom: 1px solid #dedede;
                        overflow: hidden;
                    }
                        .face_item_edit,
                        .face_item_photo,
                        .face_item_video,
                        .face_item_video_disable,
                        .face_item_remove{
                            position: relative;
                            background: #ffffff;
                            top: 0;
                            left: 0;
                            width: 24px;
                            height: 24px;
                            border-radius: 13px;
                            margin: 63px 0 0 0;
                            -webkit-transition: all .2s ease;
                            -moz-transition: all .2s ease;
                            -o-transition: all .2s ease;
                            transition: all .2s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            cursor: pointer;
                            float: left;
                            overflow: hidden;
                        }
                            .face_item_video{
                                color: #00ab09;
                            }
                            .face_item_video_disable{
                                opacity: 1;
                            }
                        .face_item_edit:before,
                        .face_item_photo:before,
                        .face_item_video:before,
                        .face_item_video_disable:before,
                        .face_item_remove:before{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 25px;
                            height: 25px;
                            font-family: 'Material Icons', sans-serif;
                            font-weight: normal;
                            font-style: normal;
                            font-size: 18px;
                            display: inline-block;
                            line-height: 1;
                            text-transform: none;
                            letter-spacing: normal;
                            word-wrap: normal;
                            white-space: nowrap;
                            direction: ltr;
                            color: #888888;
                            -webkit-font-smoothing: antialiased;
                            text-rendering: optimizeLegibility;
                            -moz-osx-font-smoothing: grayscale;
                            font-feature-settings: 'liga';
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 3px 3px 3px 3px;
                            overflow: hidden;
                        }
                        .face_item_edit:before{
                            content: "mode_edit";
                        }
                        .face_item_remove:before{
                            content: "delete";
                        }
                        .face_item_photo:before{
                            content: "portrait";
                        }
                        .face_item_video_disable:before,
                        .face_item_video:before{
                            content: "movie";
                        }
                            .face_item_video:before{
                                color: #00ab09;
                            }
                            .face_item_photo:hover::before,
                            .face_item_edit:hover::before,
                            .face_item_video:hover::before,
                            .face_item_video_disable:hover::before,
                            .face_item_remove:hover::before{
                                color: #1b93db;
                                background: #f9e0dc;
                            }

        #dialog_face_add_image,
        #dialog_face_add_video{
            position: relative;
            background: #ffffff;
            display: none;
            top: 0;
            left: 0;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #1b93db;
            padding: 5px 20px 5px 20px;
            border-radius: 3px;
            border: 1px solid #1b93db;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            cursor: pointer;
            z-index: 10;
            overflow: hidden;
        }
            #dialog_face_add_image:hover,
            #dialog_face_add_video:hover{
                background: #1b93db;
                color: #ffffff;
            }
            #dialog_face_none{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 600px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 34px;
                color: #747474;
                opacity: .4;
                text-align: center;
                margin: -20px 0 0 -300px;
                overflow: hidden;
            }
        #dialog_face_video_list,
        #dialog_face_image_list{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            /*height: 500px;*/
            max-height: calc(100vh - 250px);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
        }

            #dialog_face_item_header{
                position: relative;
                display: none;
                background: #ffffff;
                background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                background: -o-linear-gradient(#ffffff,#f7f7f7);
                background: -moz-linear-gradient(#ffffff,#f7f7f7);
                background: linear-gradient(#ffffff,#f7f7f7);
                color: #545454;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
                border-bottom: 1px solid #dedede;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
            .dialog_face_item_row{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 150px;
                border-bottom: 1px solid #dedede;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                .face_item_image_background{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 150px;
                    height: 150px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    z-index: 1;
                    overflow: hidden;
                }
                .face_item_image_block{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 150px;
                    height: 150px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    z-index: 2;
                    overflow: hidden;
                }
                .dialog_checkbox,
                .dialog_checkbox_active{
                    position: relative;
                    background: #ffffff;
                    top: 50%;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #1b93db;
                    border-radius: 3px;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    opacity: .8;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    margin: -15px 0 0 -15px;
                    cursor: pointer;
                    overflow: hidden;
                }
                    .dialog_checkbox:before,
                    .dialog_checkbox_active:before{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 30px;
                        height: 30px;
                        font-family: 'Material Icons', sans-serif;
                        font-weight: normal;
                        font-style: normal;
                        font-size: 22px;
                        display: inline-block;
                        line-height: 1;
                        text-transform: none;
                        letter-spacing: normal;
                        word-wrap: normal;
                        white-space: nowrap;
                        direction: ltr;
                        color: #1b93db;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: optimizeLegibility;
                        -moz-osx-font-smoothing: grayscale;
                        font-feature-settings: 'liga';
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 3px 3px 3px 3px;
                        overflow: hidden;
                    }
                        .dialog_checkbox_active:before{
                            content: "check";
                        }
                            .dialog_checkbox:hover::before,
                            .dialog_checkbox_active:hover::before{
                                opacity: 1;
                            }
                #dialog_image_container{
                    position: relative;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }

            #profile_content{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                #profile_item{
                    position: relative;
                    background: #ffffff;
                    box-shadow: 0 0 8px 0 #dddddd;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    border-radius: 4px;
                    -webkit-transform: translate(260px,0);
                    -moz-transform: translate(260px,0);
                    -ms-transform: translate(260px,0);
                    -o-transform: translate(260px,0);
                    transform: translate(260px,0);
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 1px solid #dddddd;
                    overflow: hidden;
                }
                    #profile_item_block{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding: 0 0 120px 0;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        overflow: hidden;
                    }
                        #profile_block_container{
                            position: relative;
                            top: 0;
                            left: 50%;
                            width: 1210px;
                            padding: 0 0 100px 0;
                            margin: 0 0 0 -600px;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                            #profile_controls{
                                position: absolute;
                                background: #ffffff;
                                width: 100%;
                                top: 0;
                                left: 0;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                -o-transition: all .3s ease;
                                transition: all .3s ease;
                                -webkit-transform: translate(0, 20px);
                                -moz-transform: translate(0, 20px);
                                -ms-transform: translate(0, 20px);
                                -o-transform: translate(0, 20px);
                                transform: translate(0, 20px);
                                z-index: 10;
                                overflow: hidden;
                            }
                                #profile_add{
                                    position: relative;
                                    background: #ffffff;
                                    top: 0;
                                    left: 0;
                                    font-family: "Roboto", sans-serif;
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #1b93db;
                                    padding: 5px 20px 5px 20px;
                                    border-radius: 3px;
                                    border: 1px solid #1b93db;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    -ms-transition: all .3s ease;
                                    -o-transition: all .3s ease;
                                    transition: all .3s ease;
                                    cursor: pointer;
                                    float: left;
                                    z-index: 10;
                                    overflow: hidden;
                                }
                                    #profile_add:hover{
                                        background: #1b93db;
                                        color: #ffffff;
                                    }
                                #profile_search{
                                    position: relative;
                                    background: #ffffff;
                                    display: inline-block;
                                    width: 300px;
                                    top: 0;
                                    left: 0;
                                    font-family: "Roboto", sans-serif;
                                    font-weight: 400;
                                    font-size: 14px;
                                    border-radius: 3px;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    -ms-transition: all .3s ease;
                                    -o-transition: all .3s ease;
                                    transition: all .3s ease;
                                    margin: 0 0 0 20px;
                                    z-index: 10;
                                    overflow: hidden;
                                }
                                    #profile_search_input{
                                        position: relative;
                                        width: 100%;
                                        top: 0;
                                        left: 0;
                                        font-family: "Roboto", sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        color: #1b93db;
                                        padding: 5px 10px 5px 10px;
                                        border-radius: 3px;
                                        border: 1px solid #1b93db;
                                        -webkit-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;
                                        -webkit-transition: all .3s ease;
                                        -moz-transition: all .3s ease;
                                        -ms-transition: all .3s ease;
                                        -o-transition: all .3s ease;
                                        transition: all .3s ease;
                                        overflow: hidden;
                                    }
                                        #profile_search:before{
                                            position: absolute;
                                            top: 50%;
                                            left: 100%;
                                            width: 25px;
                                            height: 25px;
                                            font-family: 'Material Icons', sans-serif;
                                            font-weight: normal;
                                            font-style: normal;
                                            font-size: 23px;
                                            display: inline-block;
                                            line-height: 1;
                                            text-transform: none;
                                            letter-spacing: normal;
                                            word-wrap: normal;
                                            white-space: nowrap;
                                            direction: ltr;
                                            color: #1b93db;
                                            content: "search";
                                            -webkit-font-smoothing: antialiased;
                                            text-rendering: optimizeLegibility;
                                            -moz-osx-font-smoothing: grayscale;
                                            font-feature-settings: 'liga';
                                            -webkit-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            box-sizing: border-box;
                                            -webkit-transform: translate(-100%, -50%);
                                            -moz-transform: translate(-100%, -50%);
                                            -ms-transform: translate(-100%, -50%);
                                            -o-transform: translate(-100%, -50%);
                                            transform: translate(-100%, -50%);
                                            z-index: 2;
                                            overflow: hidden;

                                        }
                            #profile_none{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 600px;
                                font-family: "Roboto", sans-serif;
                                font-weight: 400;
                                font-size: 34px;
                                color: #747474;
                                opacity: .4;
                                text-align: center;
                                margin: -20px 0 0 -300px;
                                overflow: hidden;
                            }
                            #profile_block{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: calc(100% - 2px);
                                margin: 70px 0 0 0;
                                border: 1px solid #dedede;
                                box-shadow: 0 1px 6px #dddddd;
                                border-bottom: none;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                                #profile_list{
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    -ms-transition: all .3s ease;
                                    -o-transition: all .3s ease;
                                    transition: all .3s ease;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    overflow: hidden;
                                }
                                    #profile_header{
                                        position: relative;
                                        background: #ffffff;
                                        background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                                        background: -o-linear-gradient(#ffffff,#f7f7f7);
                                        background: -moz-linear-gradient(#ffffff,#f7f7f7);
                                        background: linear-gradient(#ffffff,#f7f7f7);
                                        color: #545454;
                                        font-family: "Roboto", sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        text-align: center;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 40px;
                                        -webkit-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;
                                        border-bottom: 1px solid #dedede;
                                        overflow: hidden;
                                    }
                                        .profile_item_col,
                                        .profile_header_col{
                                            position: relative;
                                            top: 0;
                                            left: 0;
                                            width: 160px;
                                            height: 40px;
                                            padding: 11px 5px 11px 5px;
                                            -webkit-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            box-sizing: border-box;
                                            float: left;
                                            overflow: hidden;
                                        }
                                        .profile_item_col{
                                            padding: 0 0 0 0;
                                            height: 40px;
                                        }
                                    .profile_item{
                                        position: relative;
                                        background: #ffffff;
                                        color: #545454;
                                        font-family: "Roboto", sans-serif;
                                        font-weight: 400;
                                        font-size: 14px;
                                        text-align: center;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 40px;
                                        -webkit-transition: all .5s ease;
                                        -moz-transition: all .5s ease;
                                        -ms-transition: all .5s ease;
                                        -o-transition: all .5s ease;
                                        transition: all .5s ease;
                                        -webkit-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;
                                        border-bottom: 1px solid #dedede;
                                        overflow: hidden;
                                    }
                                        .profile_item_wallet,
                                        .profile_item_edit,
                                        .profile_item_info,
                                        .profile_item_feedback,
                                        .profile_item_info_disable,
                                        .profile_item_remove{
                                            position: relative;
                                            background: #ffffff;
                                            top: 0;
                                            left: 0;
                                            width: 25px;
                                            height: 25px;
                                            border-radius: 13px;
                                            margin: 8px 0 0 0;
                                            -webkit-transition: all .2s ease;
                                            -moz-transition: all .2s ease;
                                            -o-transition: all .2s ease;
                                            transition: all .2s ease;
                                            -webkit-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            box-sizing: border-box;
                                            cursor: pointer;
                                            float: left;
                                            overflow: hidden;
                                        }
                                            .profile_item_info_disable{
                                                cursor: default;
                                                opacity: .6;
                                            }
                                            .profile_item_wallet:before,
                                            .profile_item_edit:before,
                                            .profile_item_feedback:before,
                                            .profile_item_info:before,
                                            .profile_item_info_disable:before,
                                            .profile_item_remove:before{
                                                position: relative;
                                                top: 0;
                                                left: 0;
                                                width: 25px;
                                                height: 25px;
                                                font-family: 'Material Icons', sans-serif;
                                                font-weight: normal;
                                                font-style: normal;
                                                font-size: 18px;
                                                display: inline-block;
                                                line-height: 1;
                                                text-transform: none;
                                                letter-spacing: normal;
                                                word-wrap: normal;
                                                white-space: nowrap;
                                                direction: ltr;
                                                color: #888888;
                                                -webkit-font-smoothing: antialiased;
                                                text-rendering: optimizeLegibility;
                                                -moz-osx-font-smoothing: grayscale;
                                                font-feature-settings: 'liga';
                                                -webkit-box-sizing: border-box;
                                                -moz-box-sizing: border-box;
                                                box-sizing: border-box;
                                                padding: 3px 3px 3px 3px;
                                                overflow: hidden;
                                            }
                                                .profile_item_wallet:before{
                                                    content: "account_balance_wallet";
                                                }
                                                .profile_item_edit:before{
                                                    content: "mode_edit";
                                                }
                                                .profile_item_feedback:before{
                                                    content: "email";
                                                }
                                                .profile_item_remove:before{
                                                    content: "delete";
                                                }
                                                .profile_item_info_disable:before,
                                                .profile_item_info:before{
                                                     content: "info";
                                                 }
                                                    .profile_item_wallet:hover::before,
                                                    .profile_item_info:hover::before,
                                                    .profile_item_edit:hover::before,
                                                    .profile_item_feedback:hover::before,
                                                    .profile_item_remove:hover::before{
                                                        color: #1b93db;
                                                        background: #f9e0dc;
                                                    }
        #search_history_block{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    overflow: hidden;
                }
            #search_history_label_none{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                font-style: italic;
                text-align: center;
                overflow: hidden;
            }
            #search_history_header{
                position: relative;
                background: #ffffff;
                background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                background: -o-linear-gradient(#ffffff,#f7f7f7);
                background: -moz-linear-gradient(#ffffff,#f7f7f7);
                background: linear-gradient(#ffffff,#f7f7f7);
                color: #545454;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid #dedede;
                overflow: hidden;
            }
                .search_history_item_col,
                .search_history_header_col{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 200px;
                    height: 40px;
                    font-weight: 400;
                    padding: 11px 5px 11px 5px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    float: left;
                    overflow: hidden;
                }
                    .search_history_header_col{
                        font-weight: 500;
                    }
                    .search_history_item_col{
                        padding: 0 0 0 0;
                        height: 150px;
                    }
            #search_history_list{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
            }
                .search_history_item{
                    position: relative;
                    color: #545454;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border-bottom: 1px solid #dedede;
                    overflow: hidden;
                }
                    .search_history_item_image_right,
                    .search_history_item_image{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 160px;
                        height: 160px;
                        border: 1px solid #1b93db;
                        border-radius: 5px;
                        margin: 10px 0 5px 20px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        overflow: hidden;
                    }
                        .search_history_item_image_percent{
                            position: absolute;
                            background: rgba(255,255,255,.9);
                            top: 100%;
                            left: 100%;
                            color: #222222;
                            border-radius: 5px;
                            font-size: 11px;
                            padding: 5px 5px 5px 5px;
                            -webkit-transform: translate(-100%, -100%);
                            -moz-transform: translate(-100%, -100%);
                            -ms-transform: translate(-100%, -100%);
                            -o-transform: translate(-100%, -100%);
                            transform: translate(-100%, -100%);
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            margin: -10px 0 0 -10px;
                            z-index: 10;
                            overflow: hidden;
                        }
                    .search_history_item_info{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        margin: 5px 0 10px 0;
                        overflow: hidden;
                    }
                    #search_history_list .search_history_item_col{
                        width: 200px;
                        height: auto;
                    }
                    .search_history_item_col table{
                        width: 100%;
                        height: 180px;
                        border-collapse: collapse;
                        padding: 0 0 0 0;
                    }
                        .search_history_item_profile_pdf table{
                            height: 32px;
                        }
                        .search_history_item_col table td{
                            text-align: center;
                            vertical-align: middle;
                        }
                        .search_history_item_profile_pdf table td{
                            text-align: left;
                        }
                    .search_history_item_profile_list{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin: 8px 0 0 0;
                        overflow: hidden;
                    }
                        .search_history_item_profile_pdf{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 2px 2px 2px 2px;
                            border-radius: 5px;
                            cursor: pointer;
                            overflow: hidden;
                        }
                            .search_history_item_profile_pdf:hover{
                                background: rgba(27,147,219,.3);
                            }
                            .search_history_item_profile_pdf_image{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 32px;
                                height: 32px;
                                border: 1px solid #1b93db;
                                border-radius: 5px;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                float: left;
                                margin: 0 10px 0 0;
                                overflow: hidden;
                            }
                            .search_history_item_profile_pdf_info{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 345px;
                                height: 32px;
                                border-radius: 5px;
                                text-align: left;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                float: left;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                -o-transition: all .3s ease;
                                transition: all .3s ease;
                                opacity: 1;
                                overflow: hidden;
                            }
                            .search_history_item_profile_pdf_load{
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                text-align: left;
                                -webkit-transform: translate(50px, -50%);
                                -moz-transform: translate(50px, -50%);
                                -ms-transform: translate(50px, -50%);
                                -o-transform: translate(50px, -50%);
                                transform: translate(50px, -50%);
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                -o-transition: all .3s ease;
                                transition: all .3s ease;
                                pointer-events: none;
                                opacity: 0;
                                overflow: hidden;
                            }