*{
    margin: 0;
    padding: 0;
}
    html,body{
        height: 100%;
    }
        #worktime{
            position: fixed;
            background: #000000;
            top: 100%;
            left: 100%;
            width: 200px;
            height: 200px;
            margin: -60px 0 0 -200px;
            color: #ffffff;
            font-size: 12px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;
            font-family: "Roboto Condensed", sans-serif;
            z-index: 150;
            overflow: hidden;
        }
        #all{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 1270px;
            min-height: 100%;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 16px;
            overflow: hidden;
        }
            #auth_block{
                position: absolute;
                background: #ffffff;
                width: 300px;
                border: 1px solid #1b93db;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
                font-size: 14px;
                opacity: 0;
                color: #999999;
                overflow: hidden;
            }
                .block_title{
                    position: relative;
                    width: 100%;
                    color: #1b93db;
                    font-size: 16px;
                    text-align: center;
                    margin: 10px 0 10px 0;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    overflow: hidden;
                }
                    .auth_row{
                        position: relative;
                        margin: 0 0 10px 0;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        overflow: hidden;
                    }
                .input_label{
                    position: absolute;
                    width: 274px;
                    margin: 4px 13px 0 13px;
                    z-index: 1;
                    pointer-events: none;
                    -webkit-transition: all .1s ease;
                    -moz-transition: all .1s ease;
                    -o-transition: all .1s ease;
                    transition: all .1s ease;
                    overflow: hidden;
                }
                .input_text{
                    position: relative;
                    width: 272px;
                    color: #999999;
                    outline: none;
                    border: 1px solid #1b93db;
                    border-radius: 3px;
                    padding: 3px;
                    margin: 0 10px 0 10px;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    overflow: hidden;
                }
                    #auth_keep_button{
                        position: relative;
                        display: inline-block;
                        opacity: .8;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        margin: 0 0 0 10px;
                        float: left;
                        cursor: pointer;
                        overflow: hidden;
                    }
                        .auth_keep,
                        .auth_keep_active{
                            position: relative;
                            background: #ffffff;
                            top: 0;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            -webkit-transition: all .2s ease;
                            -moz-transition: all .2s ease;
                            -o-transition: all .2s ease;
                            transition: all .2s ease;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            cursor: pointer;
                            float: left;
                            border: 1px solid #1b93db;
                            border-radius: 3px;
                            overflow: hidden;
                        }
                            .auth_keep:before,
                            .auth_keep_active:before{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 20px;
                                height: 20px;
                                font-family: 'Material Icons', sans-serif;
                                font-weight: normal;
                                font-style: normal;
                                font-size: 18px;
                                display: inline-block;
                                line-height: 1;
                                text-transform: none;
                                letter-spacing: normal;
                                word-wrap: normal;
                                white-space: nowrap;
                                direction: ltr;
                                color: #1b93db;
                                -webkit-font-smoothing: antialiased;
                                text-rendering: optimizeLegibility;
                                -moz-osx-font-smoothing: grayscale;
                                font-feature-settings: 'liga';
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                                .auth_keep_active:before{
                                    content: "done";
                                }
                            .auth_keep{
                                background: #ffffff;
                            }
                        #auth_keep_label{
                            position: relative;
                            top: 0;
                            left: 0;
                            float: left;
                            margin: 3px 0 0 5px;
                            overflow: hidden;
                        }
                        #auth_keep_button:hover{
                            opacity: 1;
                        }
                    #auth_forgot_button{
                        position: relative;
                        display: inline-block;
                        opacity: .8;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        margin: 3px 10px 0 0;
                        float: right;
                        cursor: pointer;
                        overflow: hidden;
                    }
                        #auth_forgot_button:hover{
                            opacity: 1;
                        }

                .submit_button,
                .submit_half_button,
                .submit_half_button_enable,
                .submit_button_enable{
                    position: relative;
                    background: #ffffff;
                    width: 100%;
                    /*width: 278px;*/
                    text-align: center;
                    cursor: pointer;
                    padding: 3px 0 3px 0;
                    border-radius: 3px;
                    border: 1px solid #1b93db;
                    color: #1b93db;
                    margin: 0 10px 0 10px;
                    z-index: 1;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                    float: left;
                    overflow: hidden;
                }
                    .submit_half_button,
                    .submit_half_button_enable{
                        width: 134px;
                    }
                    .submit_button_enable,
                    .submit_half_button_enable{
                        border: 1px solid #d5d5d5;
                        color: #d5d5d5;
                        cursor: default;
                    }
                    .submit_half_button:hover,
                    .submit_button:hover{
                        background: #1b93db;
                        color: #fffefe;
                    }

    .bg_all{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity .2s ease;
        -moz-transition: opacity .2s ease;
        -o-transition: opacity .2s ease;
        transition: opacity .2s ease;
        opacity: 0;
        z-index: 20;
        overflow: hidden;
    }
    #bg_load{
        position: fixed;
        background: #1b93db;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        -webkit-transition: opacity .3s ease;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        z-index: 200;
        overflow: hidden;
    }
        #load_percent{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            font-family: "Roboto Condensed", sans-serif;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin: 0 0 0 0;
            overflow: hidden;
        }

.header_menu_child_block{
    position: absolute;
    background: #505050;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 9;
    overflow: hidden;
}
    .header_menu_child{
        position: relative;
        height: 60px;
        overflow: hidden;
    }
        .header_menu_child_item,
        .header_menu_child_item_disable,
        .header_menu_child_item_active{
            position: relative;
            text-align: center;
            display: inline-block;
            float: left;
            cursor: pointer;
            text-transform: uppercase;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            padding: 22px 10px 26px 10px;
            overflow: hidden;
        }
            .header_menu_child_item:hover{
                /*background: #dddddd;*/
                color: #1b93db;
            }
            .header_menu_child_item_active{
                /*background: #ffffff;*/
                color: #1b93db;
            }
            .header_menu_child_item_disable{
                color: #6c6c6c;
                cursor: default;
            }

#users_content{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding: 0 0 10px 0;
    z-index: 9;
    overflow: hidden;
}
    #users_add{
        position: absolute;
        background: #ffffff;
        top: 0;
        left: 50%;
        width: 200px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #1b93db;
        padding: 5px 20px 5px 20px;
        border-radius: 3px;
        border: 1px solid #1b93db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translate(500px, 10px);
        -moz-transform: translate(500px, 10px);
        -ms-transform: translate(500px, 10px);
        -o-transform: translate(500px, 10px);
        transform: translate(500px, 10px);
        cursor: pointer;
        z-index: 10;
        overflow: hidden;
    }
        #users_add:hover{
            background: #1b93db;
            color: #373636;
        }
    #users_list{
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #dedede;
        border-bottom: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 8px #dddddd;
        -moz-box-shadow: 0 2px 8px #dddddd;
        box-shadow: 0 1px 6px #dddddd;
        overflow: hidden;
    }
        #users_header,
        .users_row{
            position: absolute;
            background: #ffffff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #545454;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            -webkit-box-shadow: inset 0 -1px 0 #dddddd;
            -moz-box-shadow: inset 0 -1px 0 #dddddd;
            box-shadow: inset 0 -1px 0 #dddddd;;
            overflow: hidden;
        }
            #users_header{
                background: #ffffff;
                background: -webkit-linear-gradient(#ffffff,#f7f7f7);
                background: -o-linear-gradient(#ffffff,#f7f7f7);
                background: -moz-linear-gradient(#ffffff,#f7f7f7);
                background: linear-gradient(#ffffff,#f7f7f7);
                color: #545454;
            }

        .users_header_item,
        .users_row_item{
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            overflow: hidden;
        }
            .users_header_item span,
            .users_row_item span{
                position: relative;
                display: block;
                font-size: 14px;
                margin: 11px 10px 11px 10px;
                overflow: hidden;
            }
            .users_header_item{
                text-align: left;
            }
            .users_header_museum_check,
            .users_header_museum_check_active,
            .users_header_admin_check,
            .users_header_admin_check_active,
            .users_header_partner_check,
            .users_header_partner_check_active,
            .users_header_bookkeep_check,
            .users_header_bookkeep_check_active{
                position: absolute;
                background-position: 50% 50%;
                top: 50%;
                left: 50%;
                width: 25px;
                height: 25px;
                border: 1px solid #888888;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                border-radius: 3px;
                opacity: .7;
                margin: -12px 0 0 -12px;
                cursor: pointer;
                overflow: hidden;
            }
                .users_header_museum_check:before,
                .users_header_museum_check_active:before,
                .users_header_admin_check:before,
                .users_header_admin_check_active:before,
                .users_header_partner_check:before,
                .users_header_partner_check_active:before,
                .users_header_bookkeep_check:before,
                .users_header_bookkeep_check_active:before{
                    font-family: 'Material Icons', sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 18px;
                    display: inline-block;
                    line-height: 1;
                    text-transform: none;
                    letter-spacing: normal;
                    word-wrap: normal;
                    white-space: nowrap;
                    direction: ltr;
                    color: #888888;
                    border-color: #888888;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -moz-osx-font-smoothing: grayscale;
                    font-feature-settings: 'liga';
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    padding: 3px 3px 3px 3px;
                }
                .users_header_museum_check_active:before,
                .users_header_bookkeep_check_active:before,
                .users_header_admin_check:hover::before,
                .users_header_admin_check_active:before,
                .users_header_admin_check_active:hover::before,
                .users_header_partner_check:hover::before,
                .users_header_partner_check_active:before,
                .users_header_partner_check_active:hover::before{
                    content: "done";
                    opacity: 1;
                }
                .users_header_museum_check,
                .users_header_museum_check_active,
                .users_header_bookkeep_check,
                .users_header_bookkeep_check_active{
                    opacity: .4;
                    cursor: default;
                }
            .users_header_block_check,
            .users_header_block_check_active,
            .users_header_edit_check,
            .users_header_edit_check_active,
            .users_header_remove_check,
            .users_header_remove_check_active{
                position: relative;
                background: #ffffff;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                border-radius: 13px;
                margin: 8px 0 0 0;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                cursor: pointer;
                float: left;
                overflow: hidden;
            }
                .users_header_edit_check:before,
                .users_header_block_check:before,
                .users_header_remove_check:before,
                .users_header_edit_check_active:before,
                .users_header_block_check_active:before,
                .users_header_remove_check_active:before{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    font-family: 'Material Icons', sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 18px;
                    display: inline-block;
                    line-height: 1;
                    text-transform: none;
                    letter-spacing: normal;
                    word-wrap: normal;
                    white-space: nowrap;
                    direction: ltr;
                    color: #888888;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -moz-osx-font-smoothing: grayscale;
                    font-feature-settings: 'liga';
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 3px 3px 3px 3px;
                    overflow: hidden;
                }
                    .users_header_edit_check:before,
                    .users_header_edit_check_active:before{
                        content: "mode_edit";
                    }
                    .users_header_remove_check:before,
                    .users_header_remove_check_active:before{
                        content: "delete";
                    }
                    .users_header_block_check:before{
                        content: "lock_open";
                    }
                    .users_header_block_check_active:before{
                        content: "lock_outline";
                    }
                .users_header_edit_check:hover::before,
                .users_header_edit_check_active:before,
                .users_header_block_check:hover::before,
                .users_header_block_check_active:before,
                .users_header_remove_check:hover::before,
                .users_header_remove_check_active:before{
                    color: #e26954;
                }
                .users_header_edit_check:hover,
                .users_header_edit_check_active,
                .users_header_block_check:hover,
                .users_header_block_check_active,
                .users_header_remove_check:hover,
                .users_header_remove_check_active{
                    background: #f9e0dc;
                }
                    .users_header_block_check:hover::before{
                        content: "lock_outline";
                    }
                    .users_header_block_check_active:hover::before{
                        content: "lock_open";
                    }

        #settings{
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            opacity: 0;
            overflow: hidden;
        }
            #settings_content{
                position: relative;
                top: 0;
                left: 0;
                text-align: center;
                overflow: hidden;
            }
                #settings_content_container{
                    position: relative;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                }
                #settings_image_block{
                    position: relative;
                    border-radius: 5px;
                    border: 1px solid #dddddd;
                    top: 0;
                    left: 0;
                    float: left;
                    width: 140px;
                    height: 140px;
                    overflow: hidden;
                }
                    #settings_image{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 140px;
                        height: 140px;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        overflow: hidden;
                    }
                    #settings_image_edit{
                        position: absolute;
                        background: #ffffff;
                        top: 100%;
                        left: 100%;
                        width: 25px;
                        height: 25px;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                        transform: translate(-37px,0);
                        border: 1px solid #1b93db;
                        border-radius: 3px;
                        opacity: 0;
                        cursor: pointer;
                        z-index: 2;
                        overflow: hidden;
                    }
                        #settings_image_edit:before{
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 25px;
                            height: 25px;
                            font-family: 'Material Icons', sans-serif;
                            font-weight: normal;
                            font-style: normal;
                            font-size: 23px;
                            display: inline-block;
                            line-height: 1;
                            text-transform: none;
                            letter-spacing: normal;
                            word-wrap: normal;
                            white-space: nowrap;
                            direction: ltr;
                            content: "edit";
                            color: #1b93db;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                            -webkit-font-smoothing: antialiased;
                            text-rendering: optimizeLegibility;
                            -moz-osx-font-smoothing: grayscale;
                            font-feature-settings: 'liga';
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            overflow: hidden;
                        }
                        #settings_image_edit:hover:before{
                            color: #ffffff;
                            background: #1b93db;
                        }
                        #settings_image_block:hover #settings_image_edit{
                                transform: translate(-37px,-37px);
                                opacity: 1;
                            }
                    #settings_list{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 400px;
                        display: inline-block;
                        font-family: "Roboto Condensed";
                        font-size: 14px;
                        float: left;
                        margin: 0 0 0 20px;
                        overflow: hidden;
                    }
                        .settings_row{
                            position: relative;
                            width: 100%;
                            margin: 7px 0 0 0;
                            padding: 10px 0 0 0;
                            border-top: 1px solid #e6e6e6;
                            overflow: hidden;
                        }
                            .settings_row_child{
                                position: relative;
                                display: inline-block;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 29px;
                                margin: 0 0 0 0;
                                overflow: hidden;
                            }
                                .settings_label{
                                    position: relative;
                                    width: 80px;
                                    color: #606060;
                                    text-align: right;
                                    top: 0;
                                    left: 0;
                                    float: left;
                                    margin: 5px 0 0 0;
                                    overflow: hidden;
                                }
                                .settings_value{
                                    position: relative;
                                    display: inline-block;
                                    padding: 0 0 0 20px;
                                    margin: 5px 0 0 0;
                                    float: left;
                                    overflow: hidden;
                                }
                                .settings_row_edit{
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    width: 25px;
                                    height: 25px;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    -o-transition: all .3s ease;
                                    transition: all .3s ease;
                                    border: 1px solid #1b93db;
                                    transform: translate(0,10px);
                                    float: left;
                                    border-radius: 3px;
                                    opacity: 0;
                                    cursor: pointer;
                                    z-index: 2;
                                    overflow: hidden;
                                }
                                    .settings_row_edit:before{
                                        position: relative;
                                        top: 0;
                                        left: 0;
                                        width: 25px;
                                        height: 25px;
                                        font-family: 'Material Icons', sans-serif;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-size: 23px;
                                        display: inline-block;
                                        line-height: 1;
                                        text-transform: none;
                                        letter-spacing: normal;
                                        word-wrap: normal;
                                        white-space: nowrap;
                                        direction: ltr;
                                        content: "edit";
                                        color: #1b93db;
                                        -webkit-transition: all .3s ease;
                                        -moz-transition: all .3s ease;
                                        -ms-transition: all .3s ease;
                                        -o-transition: all .3s ease;
                                        transition: all .3s ease;
                                        -webkit-font-smoothing: antialiased;
                                        text-rendering: optimizeLegibility;
                                        -moz-osx-font-smoothing: grayscale;
                                        font-feature-settings: 'liga';
                                        -webkit-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;
                                        overflow: hidden;
                                    }
                                    .settings_row_edit:hover:before{
                                        color: #ffffff;
                                        background: #1b93db;
                                    }
                                    .settings_row:hover .settings_row_edit{
                                        opacity: 1;
                                        transform: translate(-37px,10px);
                                    }
                                #settings_pas_edit_block{
                                    text-align: left;
                                }
                                #settings_pas_edit{
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    font-family: "Roboto", sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: #6c6c6c;
                                    display: inline-block;
                                    cursor: pointer;
                                    text-decoration: underline;
                                    text-align: left;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    -ms-transition: all .3s ease;
                                    -o-transition: all .3s ease;
                                    transition: all .3s ease;
                                    overflow: hidden;
                                }
                                    #settings_pas_edit:hover{
                                        color: #000000;
                                    }