*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#worktime{
    position: fixed;
    background: #000000;
    top: 100%;
    left: 100%;
    width: 160px;
    height: 60px;
    margin: -60px 0 0 -160px;
    color: #ffffff;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 150;
    overflow: hidden;
}
#all{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1519px;
    min-height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    overflow: hidden;
}